[2018-02-18 20:17] devigned opened #6 "Recover connections, sessions and links"
Right now, there isn't much thought to recovering upon failure. The library should be robust to network and service level failures.

[2018-02-18 20:21] devigned opened #7 "Add SAS token tests"
The tests only use JWT tokens. There should be tests for SAS tokens as well.

[2018-02-21 18:50] #7 closed, assigned to nobody

[2018-02-21 18:53] devigned opened #11 "Don't expose amqp.Message in the exposed interface."
To minimize dependency projection, replace amqp.Message in exported signatures with an `eventhub` type.

[2018-03-20 20:49] #11 closed, assigned to nobody

[2018-03-23 23:52] devigned opened #21 "Sending messages over 438 bytes long"
The underlying AMQP implementation has a bug which is currently being investigated here: https://github.com/vcabbage/amqp/issues/54. This issue is a placeholder to raise visibility to consumers of this library.

[2018-03-24 23:19] devigned commented on #21
This should be resolved at this point (upstream in amqp). I'm going to leave this open until I have a chance to verify the changes.

[2018-03-26 19:06] #21 closed

[2018-03-27 17:10] devigned opened #24 "Handle com.microsoft:server-busy error with retry and backoff"
### Expected Behavior
When server responds with an error of `com.microsoft:server-busy`, the send operation should retry after a period of time.

### Actual Behavior
The error is returned from send and the consumer of the library needs to deal with it.

[2018-03-27 18:36] #24 closed

[2018-03-27 20:41] devigned opened #26 "Storage credential refresh token can hang on expired contexts"
### Expected Behavior
If the context has expired, then return an error.

### Actual Behavior
Hangs

### Environment
- OS: OSX
- Go version: 1.10
- Version of Library: 6b4bcfd

[2018-03-27 22:22] devigned opened #27 "Add OpenTracing support"
Use OpenTracing rather than indiscriminate logging

[2018-03-28 23:25] #6 closed

[2018-04-10 22:39] devigned opened #30 "Mock calls to AMQP in tests"
### Expected Behavior
Tests will execute without needing a connection to an AMQP broker. This will allow quicker validation for pull requests.

### Actual Behavior
Tests require authentication and connection to Event Hubs.

[2018-04-13 23:01] #26 closed

[2018-04-13 23:10] #27 closed

[2018-05-15 13:22] serbrech opened #35 "Ampq package dependency is set to master, leading to brittle releases"
### Expected Behavior
The title explains the root issue, the consequence is that this commit : https://github.com/vcabbage/amqp/commit/390d7eaeac0368026b93a13f4f7bc30d903c61cd added an error parameter to msg.Reject()

When building the project, or a project using the lib :
[code]

### Resolution
Fix the version of the dependencies to avoid breaking changes sneaking in

### Environment
- OS: any
-

[2018-05-15 15:19] serbrech commented on #35
workaround for `azure-event-hubs-go` consumers :

add

[code]

to your Gopkg.toml that will fix the version of the amqp package to the commit just before the api change.

[2018-05-15 15:56] serbrech commented on #35
Oh Thanks! I'll send a PR to fix the version to 4.2, but that needs to be done in the http://github.com/azure/azure-amqp-common-go as well or be overriden in the gopkg.

[2018-05-15 16:03] serbrech opened #36 "Do not set GOPATH in the Makefile"
Running make

### Expected Behavior
builds

### Actual Behavior
sets my GOPATH, so it doesn't build

### Environment
- OS: any
- Go version: any

[2018-05-15 16:06] #36 closed

[2018-05-15 16:14] serbrech commented on #36
Sorry, I might have been too quick with this. The Makefile is logging "setting GOPATH", but it seems it doesn't really do that, so I got misguided.

[2018-05-15 17:15] devigned commented on #35
I generally would not have used a ref to master. I think there were a change that was needed from master amqp.

I'll update both libs and tag a new release today.

[2018-05-15 22:00] #35 closed

[2018-05-15 22:03] devigned commented on #35
@serbrech should be fixed in v0.3.0. Please reopen if you are still running into issues.

[2018-05-17 21:23] conor0456 opened #38 "Pointer dereference error when using connection string"
### Expected Behavior
A connection to be established with Eventhub using environment variables:
  EVENTHUB_CONNECTION_STRING,
  EVENTHUB_NAMESPACE
  EVENTHUB_NAME

### Actual Behavior
The program fails when trying to find an aadProvider and never reaches the code to find an sasProvider. Stack trace below:

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: seg

[2018-05-18 01:19] devigned commented on #38
Hi @conor0456, I've opened a PR upstream for go-autorest which will resolve the issue. For the near term, I'm going to short circuit the env creation process favoring the SAS flow over AAD. This should fix your issue and speed up environmental configuration. You should see the PR tomorrow.

If you'd like to get past this right now, you can build a SAS token provider and pass it into the Hub like s

[2018-05-18 16:42] #38 closed

[2018-05-18 16:45] devigned commented on #38
@conor0456 this should be fixed up in version `0.3.1`. Please reopen if it is not resolved.

[2018-06-18 23:39] ddeep2007 opened #41 "Connection reset by peer on attempt to GetRuntimeInformation"
### Expected Behavior
A connection should be established with the following environment variables set.
EVENTHUB_CONNECTION_STRING,
EVENTHUB_NAMESPACE
EVENTHUB_NAME

### Actual Behavior
When attempting to invoke hub.GetRuntimeInformation it returns the following error - read tcp 10.118.100.85:50582->104.42.97.95:5671: read: connection reset by peer

Current failing code -
[code]
One interesting pie

[2018-06-18 23:47] devigned commented on #41
@ddeep2007 it looks like you have sensitive information in your image. You might want to obfuscate it.

[2018-06-18 23:53] ddeep2007 commented on #41
@devigned Thanks for pointing that out. I have shared the image and obfuscated the sensitive information.

[2018-06-19 00:01] devigned commented on #41
@ddeep2007 can you build your hub explicitly via: https://github.com/Azure/azure-event-hubs-go/blob/ab7925c86c2c3eeb40ffafa149820faca6d6bedc/hub.go#L89-L107

To build your token provider, you'd use:
[code]
This will help me narrow down the issue.

[2018-06-19 00:56] ddeep2007 commented on #41
@devigned - I was able to build the hub explicitly as you specified above and see the same issue. What information do you need from me to help root cause? Here is the modified code now
`
        namespace := os.Getenv("EVENTHUB_NAMESPACE")
	name := os.Getenv("EVENTHUB_NAME")

	provider, err := sas.NewTokenProvider(sas.TokenProviderWithEnvironmentVars())
	if err != nil {
		fmt.Println("Failed to es

[2018-06-19 01:01] devigned commented on #41
Hmm... There are tests for this functionality. That makes me question if you have network access to the Event Hub host on port 5671.

[2018-06-19 01:03] ddeep2007 commented on #41
Is there any way I can test that?

[2018-06-19 01:22] devigned commented on #41
[code]
If you need telnet, just
[code]

If you can connect, you should see something like:
[code]

[2018-06-19 02:05] ddeep2007 commented on #41
That worked fine:
`Trying 104.42.97.95...
Connected to ns-eh2-prod-by3-511.cloudapp.net.
Escape character is '^]'.`

[2018-06-19 06:01] ddeep2007 commented on #41
@devigned - seems like an issue with my companies VPN. When trying this from an external wifi network the code worked fine.

[2018-06-19 12:45] devigned commented on #41
We are thinking about adding web socket support. Would this help you?

[2018-06-19 15:25] devigned commented on #41
@ddeep2007 closing the issue since it sounds like you have determined it's VPN related.

[2018-06-19 15:25] #41 closed

[2018-06-22 13:40] GoEddie opened #42 "event.PartitionKey is nil"
### Expected Behavior

For the partition key to be included in the event

### Actual Behavior

The partition key is null, is there something else i need to do to get it filled in?

### Environment
- OS: win 10
- Go version: 1.9
- Version of Library: latest from go get

[2018-06-22 14:45] devigned commented on #42
There is nothing you should have filled in. The partition key was not set when the event is received from the broker. This is a bug and I'll supply a fix shortly.

[2018-06-22 15:58] devigned commented on #42
@GoEddie the fix has been applied. Please let me know if it solves your problem.

[2018-06-22 23:01] GoEddie commented on #42
Thanks, it still isn’t working but I can’t see the partition header on the ampq packet - I’ll dig a bit deeper and try and get a network trace :)

[2018-06-22 23:22] devigned commented on #42
The tests are passing for sending and receiving the partition key. Are you not seeing that behavior?

Perhaps, add a breaking test to a PR and I’ll see what’s broken.

[2018-06-22 23:27] GoEddie commented on #42
I’m not seeing the partition key header on the annotations, I’ll get some more details and probably find out what I’m doing wrong :)

[2018-07-02 18:42] kaushiksriram100 opened #44 "Inconsistent function call"
### Expected Behavior
got get -u github.com/Azure/azure-event-hubs-go/... results in no error.

### Actual Behavior
Seeing an error in a function call (inconsistent number of arguments)
[code]

### Environment
- OS: Darwin (MAC OS)
- Go version: go version go1.10.3 darwin/amd64
- Version of Library:

[2018-07-02 20:35] devigned commented on #44
[Looks like this came in during the latest major version increment](https://github.com/Azure/azure-sdk-for-go/pull/1937). vgo can't come fast enough :).

I'll update to v17 shortly. In the mean time, you can use the `dep` instructions on the readme, or you can check out the v16 tag.

[2018-07-02 20:38] devigned commented on #42
@GoEddie any updates? Anything I can do to help?

[2018-07-03 09:50] GoEddie commented on #42
no don't worry please close it :)

[2018-07-03 09:50] #42 closed

[2018-07-06 15:26] exztinct01 opened #46 "not enough arguments in call to client.ListByNamespace"
### Expected Behavior
I expect the go get to finish successfully

### Actual Behavior
C:\Users\Musterion>go get -u github.com/Azure/azure-event-hubs-go/...
# github.com/Azure/azure-event-hubs-go/internal/test
Development\go\src\github.com\Azure\azure-event-hubs-go\internal\test\suite.go:177:34: not enough arguments in call to client.ListByNamespace
        have (context.Context, string, string)

[2018-07-06 15:42] devigned commented on #46
This is a duplicate of #44.

I've reference a branch in #44 which has this change included. I'll merge those changes by end of day.

If you'd like to resolve this problem prior to that, you can use `dep` to ensure you have the correct dependency versions, or you could check out the `timeout` branch.

[2018-07-06 15:42] #46 closed

[2018-07-06 17:07] exztinct01 opened #47 "Hello World sample consumer not receiving messages"
### Expected Behavior
Consumer will receive messages

Edit: Producer does not send event

### Actual Behavior
consumer only displays "I am listening..."
My environment variables were put inside a single .env file. Env vars included subscriptionID, clientID, clientSecret, tenant id, eventhubnamespace, name as well as connection string just to be sure.
I use the "godotenv" library to automatically r

[2018-07-06 17:13] exztinct01 commented on #47
here are the changes I made to both of them

    `const (
	    Location          = "southeastasia"
	    ResourceGroupName = "hubs"
	    HubName           = "eventhub1"
    )`
the
![screenshot 47](https://user-images.githubusercontent.com/26679479/42391677-c31a6196-8182-11e8-9af1-1231400c52e8.png)

[2018-07-06 17:30] #47 closed

[2018-07-06 23:02] #44 closed

[2018-07-06 23:04] devigned commented on #44
The latest version in master has the dependency updated, so `go get -u ...` should work again.

[2018-07-10 19:46] kaushiksriram100 opened #48 "Context Timeouts to stop receiver."
### Expected Behavior
hub.Receiver Stops receiving messages after context timeout.

Code:
[code]
The above sample code is creating a receiver per partition and then the context (ctx) is cancelled (worst case context gets done after 10 sec). I am expecting the receiver to stop at that point.  Please correct if my understanding is wrong. Would be good if that can be documented.

I do realize that to

[2018-07-15 20:48] devigned commented on #48
`hub.Receive` returns `*ListenerHandle, error` [see the go docs](https://godoc.org/github.com/Azure/azure-event-hubs-go#Hub.Receive).

`ListenerHandle` has a `Close(ctx)`, `Done()` and `Err()` which can be used to deal with closing a receiver, checking if the receiver has closed and getting the last error on the receiver.

The context provided to `hub.Receive` is used to control how long you would

[2018-07-19 17:46] devigned opened #49 "Verify long running sparse send and receive."
When running an Event Hub client, it should be resilient to link instability and should recover appropriately. The test should execute for 3 or more days without issue.

[2018-07-19 17:50] devigned commented on #49
This has been verified via https://github.com/devigned/testhub/blob/master/cmd/sparse.go with 3+ days of execution.

[2018-07-19 17:50] #49 closed

[2018-07-19 17:51] devigned opened #50 "High Throughput Round Robin"
Verify greater than 6 million messages per minute can be sent reliably to a 100 throughput unit Event Hub instance with 128 partitions.

[2018-07-19 17:52] devigned opened #51 "High Throughput Single Partition Verification"
Saturate sends on a 100 throughput unit Event Hub instance for a single partition.

[2018-07-19 17:54] devigned opened #52 "Event Processor Host Large Shard Shuffle Verification"
Given a Event Hub with a large number of partitions (128+), verify that the Event Processor Host is able to rebalance upon removing and adding nodes.

[2018-07-19 17:56] devigned opened #53 "Event Processor Host Large Number of Partitions Verification"
Verify that Event Processor Host will run and balance when targeting a Event Hub instance with 128+ partitions.

[2018-07-19 18:01] devigned commented on #50
This has been verified via https://github.com/devigned/testhub/blob/master/cmd/max-send-test.go with over 9 million message per minute on a cluster of DS4v3 running via this K8s deployment https://github.com/devigned/testhub/blob/master/kube/max_send_test.yaml.

[2018-07-19 18:01] #50 closed

[2018-07-19 19:15] devigned commented on #48
@kaushiksriram100 do you have any feedback based on my explanation above?

[2018-07-19 22:54] kaushiksriram100 commented on #48
Thanks for the details. Seems reasonable.

I think the first para about *ListenerHandle, Done() and Err() can be documented in the docs.

So if I have to start a worker to consume messages from all the available partitions, I start a receiver on each partition using a for loop and use the returned ListenerHandle to check of receiver errors. When you say - “getting the last error on the receiver”,

[2018-07-19 23:03] kaushiksriram100 commented on #48
Thanks for the details. Seems reasonable. I think the first para about *ListenerHandle, Done() and Err() can be documented in the docs. Also the 2nd para. I now get why receiver doesn’t stop.

So if I have to start a worker to consume messages from all the available partitions, I start a receiver on each partition using a for loop and use the returned ListenerHandle to check of receiver errors. Wh

[2018-07-23 14:58] devigned commented on #48
You can do exactly that and spin up a receiver per partition. This is kind of painful for folks, so we created the Event Processor Host (EPH) in https://github.com/Azure/azure-event-hubs-go/blob/fbff7e5d87fa647a80ea5059107c7309ac391b6c/eph/eph_test.go#L81-L111. EPH will manage distributing partitions across a collection of processors. We use Azure Storage Blob leases to manage leader election for

[2018-07-23 17:51] connor4312 commented on #51
I ran some tests locally on a service we're building. Generally things seemed to work well. [Here's a pdf](https://memes.peet.io/img/12c2cc14-2a43-4f97-8e35-342457931784.pdf) of some prometheus charts. CPU of the consuming application, which did a little more than just receiving events, sat around 6-8% of one of the cores on my MacBook.

[2018-07-23 18:02] devigned commented on #51
@connor4312 thank you for sharing your results!! It'd be great to see a collection of these from many sources.

It looks like you are getting throttled, so I'd imagine it's due to EH slowing you down.

How many throughput units are you running?
How large are the messages?
Is this for a single partition?
Are you running anything else on the Event Hub namespace? Event Hubs are throttled at the names

[2018-07-23 18:14] connor4312 commented on #51
For this test, I was intentionally sending all data through a single partition. The graphs are given in rates per second, so that is 1000 events per second, averaged over that `[30s]` vector that you saw. So this may be how event hub throttling surfaces, I've not tried to hit the limits with event hubs before this test 🙂 The messages were 14 byte protobuf messages.

Overall the client seems to hol

[2018-07-24 21:40] devigned commented on #52
Validated by scaling up and down the [ephbalancetest](https://github.com/devigned/testhub/blob/6714e13db7cee118ad145b9930603e55901dc290/kube/eph_balance_test.yaml) replicas running in K8s.

The test starts with 7 replicas, waits for balance, grows to 10, waits for balance and finally shrinks to 6 and waits for balance.

[2018-07-24 21:58] devigned commented on #48
I'm going to close this as an issue. If you would like me to change the interface, please reopen and propose the change.

[2018-07-24 21:58] #48 closed

[2018-07-24 22:06] devigned commented on #53
Validated by deploying 7 replicas of [ephbalancetest](https://github.com/devigned/testhub/blob/6714e13db7cee118ad145b9930603e55901dc290/kube/eph_balance_test.yaml) running in a K8s cluster targeting a 128 partition Event Hub. Each EPH host was able to reach equilibrium and stay there without thrashing.

[2018-07-24 22:06] #53 closed

[2018-07-24 22:06] #52 closed

[2018-07-24 23:56] devigned commented on #51
Initial tests running against the 100 throughput unit instance targeting a single partition is providing sustained sends of 1.3 - 2.15 million messages / minute. I'm going to continue to run this test over an extended period to verify robustness.

[2018-07-25 19:15] devigned commented on #50
Below is a plot of messages per minute for the 100 TU EH instance with 7 DS4v3 machines sending with 10 senders for each machine.
![10mil](https://user-images.githubusercontent.com/386473/43222197-4dce9aa2-9004-11e8-87c3-62bd4387a4a3.png)

[2018-07-26 16:42] kaushiksriram100 commented on #48
Sure, thanks! Thanks for your inputs. Really helpful. +1

Sent from a phone

[2018-08-03 15:55] #51 closed

[2018-08-07 17:31] joshgav opened #55 "publish docs on sending and receiving messages"
Write and publish how-to docs on sending and receiving messages.

[2018-08-07 17:32] joshgav commented on #55
This is done, awaiting publishing by content team. Thanks!

[2018-08-07 17:32] #55 closed

[2018-08-08 17:43] kaushiksriram100 commented on #48
Sorry to resurrect this. One question -> in hub.Close(ctx), what is the ctx define? Time it would wait before closing the hub? If hub.Close(ctx) return immediately with nil, can I assume hubs have closed successfully?

[2018-08-08 17:48] devigned commented on #48
Another great question which I should explain more in the docs.

The context passed into close provides a period of time to allow for graceful shutdown. This involves closing down of sender and receiver links which may have not completely finished sending and receiving.

If it returns immediately with nil, you can assume that everything closed down properly.

I wanted to provide a mechanism for a

[2018-08-08 18:08] kaushiksriram100 commented on #48
Got it. If graceful shutdown is not possible within the context time, I would assume it returns an err.

Also, I am observing that receivers die silently after a hour or so. Right now I am ignore the returned *ListenerHandle and restarting the hub after some time. I'll try to check the Err() on the ListenerHandle to see if the receiver actually dies or something else.

[2018-08-08 18:11] devigned commented on #48
It should return context expired.

The latest changes in `master` should be resilient to error conditions. Give the latest bits a try. If you are able to replicate receivers dying after an hour or so, please create an issue with the error and it'll be address immediately.

[2018-08-15 15:00] mhennings opened #56 "Sending a message with a timeout on the context prevents continuous sending"
### Expected Behavior

The timeout on the context should be used for the send request only.

### Actual Behavior

The timeout is reused for future calls. As a side effect future sends fail.

### Cause / Solution

[code]
Instead of ctx context.Background() should be passed down to getSender(). In addition to keep the tracing intact context variables should be copied.

### Environment
- OS:  linux/a

[2018-08-16 23:07] devigned commented on #56
Perhaps, I'm misunderstanding. If I'm not getting your point, please expand a bit more on what you are experiencing.

Based on my interpretation, you are saying that you would not expect the ctx passed into `Hub.Send` to be used for both `Hub.getSender` and `sender.Send`. If that is accurate, then I don't think I agree.

I don't think that `context.Background` is correct to use for `getSender`. I

[2018-08-17 05:46] mhennings commented on #56
Hi,

Thank you for looking at this.

We passed a timeout to Send using the context. Then we noticed that after
some time other calls to send fail with timeout expired.

I would have expected that the timeout is only affecting one call of send
and not prevent further calls.

Kind regards,

Marco

David Justice <notifications@github.com> schrieb am Fr. 17. Aug. 2018 um
01:07:

--
Marco Hennings
Dipl

[2018-08-17 08:26] mhennings commented on #56
Maybe the failure was not connected to the timeout on the context.

Could it be that the sender encounters an error and needs to be recovered?

[2018-08-17 16:11] devigned commented on #56
Perhaps, there's a scenario that's not getting recovered. If that is the case, then it would most definitely be a bug and something I'd like to get fixed asap.

It sounds like you are saying that subsequent calls to `Hub.Send` are failing after you have an initial context expiration. Is that correct? If so, that would be unexpected as each time `Hub.Send` is called, it should be receiving a new co

[2018-08-17 17:13] mhennings commented on #56
Ok I think I understand now why it did not recover.

Our timeout was less than 4 seconds and you have a 4 second sleep in there, so it gets never recovered.

That fits as the requests took about 4 seconds with some skew.

I think the recover should happen immediately with a backoff strategy that it slows down on every attempt.

[2018-08-17 17:53] devigned commented on #56
The reason it's 4 seconds is that in the case of server busy, Event Hubs expects a backoff of 4 seconds +- skew.

For everything but `amqp:server-busy`, I'm all for something like exponential backoff with a short initial retry duration.

Just out of curiosity, what is taking 4 seconds? It seems like a long time to wait for an initial send to execute. What error is causing recovery to execute?

[2018-08-17 18:56] mhennings commented on #56
If you like, here how a backoff could be done:
https://github.com/Azure/azure-event-hubs-go/commit/d1fe9485de15489f3ae5d153d77475009c5d74f1

I did not test that, but can do that on monday.

In regards for timing: We have a very low tolerance for delay when sending to the event hub. We expect messages to be passed lower than 2 seconds.
We have no initial sending that takes 4 seconds. It is just the

[2018-08-17 19:27] devigned commented on #56
Ahh... good point!

@mhennings you interested in providing the change as a PR? I'd be happy to review it.

[2018-08-17 19:45] mhennings commented on #56
Ok added https://github.com/Azure/azure-event-hubs-go/pull/57

I reworked it once more. Moving recovery to a separate function makes it easier to handle the mutex for avoiding concurrent recovery.
Also I think we need to avoid recovery to be done as duplicates when the mutex is released and some other send failed in the meantime.

[2018-08-21 16:18] devigned commented on #56
I think this issue should be resolved with the merge of #57. I'll introduce a new tag with the feature this week.

I'm going to close the issue. If you feel it needs to be reopened, please do.

[2018-08-21 16:18] #56 closed

[2018-10-02 05:22] hackerzhut opened #62 "Code not compiling"
### Expected Behavior

Should be able to build and run

### Actual Behavior

Getting the following error

[code]

### Environment

- OS: `ProductName:	Mac OS X ProductVersion:	10.13.6 BuildVersion:	17G65`
- Go version:  `go1.11 darwin/amd64`
- Version of Library:  `v1.0.1`

## Go env
[code]

[2018-10-02 06:10] hackerzhut commented on #62
Env Issue.  My bad.

[2018-10-02 06:10] #62 closed

[2018-10-02 16:30] devigned commented on #62
No worries. Don't hesitate to reach out if you have issues. You can find me or @marstr on the Gopher slack https://invite.slack.golangbridge.org in the #microsoft channel. We are always happy to help.

[2018-10-02 22:35] marstr commented on #62
This looks related to the breaking change release of [go-autorest 11](https://github.com/Azure/go-autorest/tree/v11.0.0). Were you overriding the version of go-autorest being targeted?

[2018-10-02 22:36] marstr commented on #62
Tagging @jhendrixMSFT for awareness.

[2018-10-03 21:29] ijt opened #63 "go get fails"
### Expected Behavior
[code]
should run without failing.

### Actual Behavior
It fails with this error message:
[code]

### Environment
- OS: Debian GNU/Linux
- Go version: go1.11rc2 linux/amd64
- Version of Library: ed70919012a66645f619384dced1f8cb3d2d7a44

[2018-10-03 21:30] ijt commented on #63
Hmm, I guess I filed this on the wrong repo. Looks like this issue belongs on azure-amqp-common-go.

[2018-10-03 21:30] #63 closed

[2018-10-04 00:33] hackerzhut commented on #62
@devigned Sure will do. Thanks.
@marstr Yes thats right.

[2018-10-15 02:39] slamgundam commented on #63
i'm also facing same issue.
Have any solution on this error?

[2018-10-15 15:51] devigned commented on #63
@slamgundam are you seeing the same error as above? This should have been resolved via: https://github.com/Azure/azure-amqp-common-go/issues/26 and https://github.com/Azure/azure-amqp-common-go/issues/27.

[2018-10-15 15:53] slamgundam commented on #63
yup same error.  I just simply copy there sample and only change the connectionString, that's all

[2018-10-16 07:38] slamgundam commented on #63
@devigned

Thanks! Just got it work!
Guess i had an old repo :)

[2018-10-16 21:46] kaushiksriram100 opened #65 "Question: What ports must be open from on-prem?"
Currently I am deploying a consumer service in our on-prem production env that uses this library and consumes messages from an *EventHub*.

However, I am unsure what ports and endpoints needs to requested for being whitelisted for the networking purposes. When I start the service in a prod env, I don't get any error for connectivity but neither I am able to consume messages.

[2018-10-17 16:01] devigned commented on #65
This guidance should stand for both Event Hubs and Service Bus: https://blogs.msdn.microsoft.com/servicebus/2017/11/07/open-port-requirements-and-ip-address-whitelisting/.

tldr; The IP is static. Event Hubs uses ports 5671 and 5672.

Currently, this library doesn't support web sockets, but should in the future. I'll create an issue to track web socket support.

[2018-10-17 16:07] devigned commented on #65
I think [this link to Service Bus docs](https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-amqp-protocol-guide?toc=%2Fen-us%2Fazure%2Fevent-hubs%2FTOC.json&bc=%2Fen-us%2Fazure%2Fbread%2Ftoc.json) provides the best explanation of the underlying protocol and ports. Even though this points to Service Bus docs, it's still valid for Event Hubs.

[2018-10-17 16:11] devigned opened #66 "Add web sockets support"
### Expected Behavior
Should be able to connect to Event Hubs via web sockets rather than over the standard AMQP ports to better support common open ports.

### Actual Behavior
The library only supports common AMQP ports.

/cc #65

[2018-10-17 17:56] vcabbage commented on #66
FWIW, I've experimentally used `pack.ag/amqp` and `golang.org/x/net/websocket` to do this. I've done essentially no validation of how well it works or whether it fully conforms to the spec, just sent and received a few messages.

[code]

[2018-10-17 20:13] vcabbage commented on #66
I'm hesitant to add non-stdlib deps to `pack.ag/amqp`.

In the case of websockets it also forces a decision of whether to use `golang.org/x/net/websocket` or the more popular `github.com/gorilla/websocket`. I used the former for my experiment because it directly implements `net.Conn`, unlike the gorilla implementation, but that doesn't necessarily mean it's the better choice.

One option would to

[2018-10-17 20:45] devigned commented on #66
I was also concerned about adding a dependency to `pack.ag/amqp`. It's so nice to only have a dependency on the standard lib.

I can get behind that solution. Consumers of EH or SB libs would not be impacted by the change. EH and SB libs could call `websocket.Register` in init or something.

I'm worried about taking a dependency on either package after reading through https://github.com/golang/go/

[2018-10-18 15:45] vcabbage commented on #66
It seems like the biggest issue with `x/net/websocket` is the API, which is awkward for typical usage but may be ideal for AMQP since it's just using it as a transport.

Reading through the spec, I think the example implementation I posted is more or less correct. As far as I can see the only thing missing is AMQP connection/link-level redirect handling. Unless there's an obvious way to handle red

[2018-10-18 16:04] devigned commented on #66
Totally agree about `x/net/websocket`. The convenience of getting a `net.Conn` is quite tempting.

I know link redirects are used in Azure IoT to redirect to a link to the underlying Event Hub. I haven't created an issue yet, but it's something that I was going to take a look at end of week. I know the error is modeled in vcabbage/amqp, but I don't think it's really used. Should this be something

[2018-10-18 16:48] devigned commented on #66
For connection redirects, are referring to HTTP redirects?

[2018-10-18 16:52] devigned opened #67 "Add support for AMQP redirects"
We have a need to support AMQP redirect. It seems a redirect response can occur either at the connection level or the link level, as documented here:
http://docs.oasis-open.org/amqp-bindmap/amqp-wsb/v1.0/cs01/amqp-wsb-v1.0-cs01.html#_Toc461801619
http://docs.oasis-open.org/amqp-bindmap/amqp-wsb/v1.0/cs01/amqp-wsb-v1.0-cs01.html#_Toc461801620

See: https://github.com/Azure/azure-uamqp-c/issues/231

[2018-10-18 17:09] vcabbage commented on #66
I was referring to the AMQP connection redirects: http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-transport-v1.0-os.html#type-connection-error

HTTP redirects are likely the easiest thing to handle.

[2018-10-24 08:56] elsesiy opened #68 "Compilation error due to latest release of Azue Storage Blob Go"
### Expected Behavior
I can clone and compile this project successfully.

### Actual Behavior
Since the latest release of Azure Storage Blob (0.3.0) the older versions of the SDK have been [removed](https://github.com/Azure/azure-storage-blob-go/releases/tag/0.3.0) but there are still references to it in this project i.e. credentials.go leading to compilation errors.

### Environment
- OS: Mac OS

[2018-10-24 16:32] devigned commented on #68
Thank you for the heads up. We have a couple dependencies that are still stabilizing. Though, I think this should be the last breaking change we see out of the storage library.

If you run the makefile, which requires `dep`, the project should build. I know that expects more from the build chain than really should be required.

I'm working on moving the project over to Go modules. I think I should

[2018-10-24 16:46] elsesiy commented on #68
Thanks for the prompt response 👍  even using dep it's not building for me as the [lock](https://github.com/Azure/azure-event-hubs-go/blob/master/Gopkg.lock#L58) file references the very same dependency.

Let me know if I can assist here further.

[2018-10-24 17:05] devigned commented on #68
Oh no! I’m sorry you are running into this.That shouldn’t happen.

I’ll get this fixed tonight (currently in the key note at HashiConf).

[2018-10-25 18:46] devigned commented on #68
Thank you for your patience.

I've tagged `v1.0.1`, which should fix the issues you ran into with our Storage dependency. Please let me know if this resolves your issue.

[2018-10-25 21:32] elsesiy commented on #68
@devigned Hi there, thanks for the quick response and the provided fix. Unfortunately, it doesn't work as there are still some compilation issues using go modules. Maybe I'm doing something wrong but this is build output using `go build`:

[code]

[2018-10-25 21:45] devigned commented on #68
@marstr can you give this a quick run? Seems like it works on Travis.

[2018-10-26 17:06] marstr commented on #68
I've never cloned this repository before. I ran the following commands:

[code]
My environment:
- OS: Mac OS 10.14
- Go version: go1.11.1 darwin/amd64

Everything seemed to build for me.

[2018-10-26 17:08] marstr commented on #68
I followed up with `go build ./...` and that also seems to work.

[2018-10-27 05:34] devigned commented on #68
@elsesiy I would really like to get to the bottom of what's going on with your build. I did have a slightly complicated time getting go modules to cooperate at times, so it might be something there.

One thought... Try to run `go clean -modcache` and then run `go build all` from the repo clone directory outside of your go path. I'm just trying to limit the number of variables to get to the root of

[2018-10-27 13:17] elsesiy commented on #68
@devigned @marstr Thanks so much for the support, `go clean -modcache` did the trick and my project finally builds again! Keep up the good work 👍

[2018-10-27 13:17] #68 closed

[2018-11-05 15:35] fantyz opened #70 "Timeouts"
Hi,

How should we go about implementing a timeout on `Receive`?

The example in the README implies one would be able to set it via the context on `Receive` but this is not the case. I'm not sure I understand why `Receive` takes a context at all.

[2018-11-05 15:39] fantyz opened #71 "Event ordering"
Hi,

How does this package provide any kind of guarantee as to event ordering when each event is handled in its own independent go-routine? They would race against each other at the whim of the go scheduler?

Why not just provide a channel with the events as interface and leave it to the user whether they should be consumed sequentially or with independent go-routines?

[2018-11-05 16:17] devigned commented on #70
Please read through the discussion in https://github.com/Azure/azure-event-hubs-go/issues/48.

tldr; The context passed into Receive is only used for the initial setup. The handle returned by receive allows you to stop receiving messages.

We are taking a slightly different path with Service Bus with regard to how we handle the passed in context. As you can see here https://github.com/Azure/azure-

[2018-11-05 20:19] fantyz commented on #71
Ah, I've misread the code the first time around - sorry. The handler is called sequentially in its own go-routine.

[2018-11-05 20:19] #71 closed

[2018-11-05 20:30] devigned commented on #70
I realized I didn't provide you a direct answer on how to timeout on receive. You could use something like the following to run and close the handle when the passed in context expires / is cancelled.

[code]

[2018-11-05 21:15] kaushiksriram100 commented on #65
I am good. We can close this. Thank you!

[2018-11-07 10:02] arne-cl opened #72 "Documentation missing for ReceiveWithEpoch"
### Expected Behavior

I would expect to find the description of the function at the given URL.

// ReceiveWithEpoch configures the receiver to use an epoch -- see https://blogs.msdn.microsoft.com/gyan/2014/09/02/event-hubs-receiver-epoch/
func ReceiveWithEpoch(epoch int64) ReceiveOption {
   ...
}

### Actual Behavior

The URL no longer works and is also not available on archive.org.

### Environ

[2018-11-07 11:37] fantyz opened #73 "Consumer Groups"
Hi,

This question is likely somewhere in between SDK and the Azure Event Hubs service domain. Feel free to redirect me if there is a better place to ask it.

I'm a bit confused about the concept of "consumer groups" in Event Hubs. As I understand it, the key reason to having consumer groups in Kafka is to:

1. Let the service handle persisting checkpoints (enabling things like having the applicat

[2018-11-07 15:59] devigned commented on #72
Thank you for alerting me to this. I suppose it was an aging link, so I shouldn't be too surprised it disappeared. It is a bit surprising it wasn't on archive.org. I swear it existed at some point :).

I'll provide a better explanation of it's functionality in the documentation.

[2018-11-07 16:30] devigned commented on #72
@arne-cl what do you think about the following for the documentation blurb.

[2018-11-08 19:15] arne-cl commented on #72
Hi David,
that seems to be a good explanation.

Kind regards,
Arne

[2018-11-12 08:29] fantyz commented on #73
Thanks for the detailed answer!

[2018-11-12 08:29] #73 closed

[2018-11-19 23:01] #72 closed

[2018-11-22 09:26] fantyz opened #76 "SendBatch"
Hi,

I'm planning to use `SendBatch` to send multiple events to an Event Hub. I assume that this have a maximum events per batch?

I've haven't been unable to find any information on this neither in the SDK itself or in the service documentation.

Can I put as many events I'd like into a single event batch?
And is this documented somewhere?

Thanks,
Kasper

[2018-11-22 17:13] fantyz opened #77 "Setting checkpoint SequenceNumbers in events?"
I have a piece of code that needs to read from an Event Hub from fixed duration back in time up until right now and quit listening/return.

This is straightforward to write with `hub.GetParitionInformation` to provide the latest sequence number and `event.GetCheckpoint` on each event received to match the event sequence number with  to see if its done reading.

The problem then arise when I want t

[2018-11-23 12:49] fantyz commented on #77
OK, so I missed that the SDK actually won't allow me to start receiving from a specific point in time.

It seems to be missing from the SDK though as this is supported via `amqp.annotation.x-opt-enqueued-time` (http://azure.github.io/amqpnetlite/articles/azure_eventhubs.html#filter)?

Is this something that could get added in a not too distant future? Otherwise, do you accept PRs?

[2018-11-23 14:44] devigned commented on #77
We didn’t include enqueue time filter initially, but would be happy to add it or accept a PR. This would be an awesome opportunity for a contribution.

Per mocking the Hub, that’s something we’ve wanted to do, but would take some restructuring.

The approach for testing that I’d take would be to prime a Hub with events, read all events from the Hub, select a known enqueue time which provides a kno

[2018-11-23 14:51] devigned commented on #76
I haven’t looked at the code in a bit, but there should be an error in batch construction that provides an error if the batch size is exceeded. If that is not handled, then it’s a bug.

Since we are discussing this, how would you like the library to behave in this situation?

[2018-11-23 17:04] fantyz commented on #76
It would be very convenient to have those limits documented as part of `Send` and `SendBatch`. That would have saved me a lot of googling. Especially when the Azure docs aren't super easy find specifics in either 😉

Do you know if the 256 KB limit is for the `Data` part only or is it the whole AMQP message (I assume there's a bunch of serialization/headers/whatnot associated with the batch as well

[2018-11-23 17:16] fantyz commented on #77
"Prime a Hub" as in actually setup a Hub in Azure and use that one? I would really like to avoid unit tests turning into integration tests and all the implications that follow in the case of our own code.

I've ended up writing a thin layer that can be mocked that converts `eventhub.Event` into my own
[code]
It's annoying, but it makes the untestable part as small possible. It would be really nice

[2018-11-25 19:57] fantyz commented on #77
A summary of trying to write unit tests of my code that relies on a `Hub` for receiving data:
- The events that have a mix of access-by-public-field (ie. `Data`) and methods accessing private fields (ie. `GetCheckpoint()`). It would be testable if it was consistently in one way or the other. If the fields are public, I would be able to make fake events. If it relied entirely on methods I would spe

[2018-11-28 00:00] devigned commented on #77
I see your point. Mocking these structures is difficult if not impossible. We tried to keep the public interface as thin as possible, but it has a cost.

Would you author a test as you would like it to work?

Let me think about this as these would likely be breaking changes (as you said) and I'd like to avoid that if possible.

As a side note, have you seen the interface for Receive in Azure Servi

[2018-11-28 00:03] devigned commented on #76
The size limit is for the entire message including headers. For forming batch messages, Event Hub expects an AMQP wrapper message with headers which appends each message of the batch as part of the body in encoded format.

I'll be sure to add that documentation and tests for batch size errors.

[2018-12-05 17:40] elsesiy opened #79 "Missing configuration param for checkpointing frequency"
### Expected Behavior
As a user, I want to be able to set the frequency of checkpoints being written to the Azure Blob storage. I'm using an EPH for managing the partitions at scale.

### Actual Behavior
The `handleMessage` method emits a checkpoint update on every single message. I'm in a high volume environment (> 100 messages/day) which noticeably slows down the possible throughput.

### Enviro

[2018-12-05 23:33] devigned commented on #79
When `handleMessage` emits a checkpoint, the storage checkpointer accepts the checkpoint, but doesn't synchronously persist it.

https://github.com/Azure/azure-event-hubs-go/blob/a7f5b65899dd97e6ed075201a3a67b80ce229310/storage/storage.go#L408-L428

The storage checkpointer has a go routine which periodically persists the checkpoints.

https://github.com/Azure/azure-event-hubs-go/blob/a7f5b65899dd

[2018-12-06 15:13] elsesiy commented on #79
Thanks for the quick reply 👍
Yes making the periodic persistence configurable is exactly what I'm asking for. The frequency is too high for us, so I'd love to set it to like 10s or so.

[2018-12-06 15:24] devigned commented on #79
Happy to help! I’ll probably be able to get in over the next couple days.

Please don’t hesitate to bring up other improvements. Thank you.

[2018-12-06 23:06] connor4312 opened #80 "Event hubs eventually stop writing"
### Expected Behavior

We can write using a single event hub instance forever happily.

### Actual Behavior

After some time, the client begins erroring. It goes along for a while, a week this time, and then starts experiencing failures.

![](https://memes.peet.io/img/18-12-3fmvtqgf3e0obdwz6kiikcocecexme.png)

Once a failure happens on an instance of a service, all requests fail until that service

[2018-12-10 08:55] fantyz opened #81 "Expired credentials"
Hi,

We're having issues with sending events to event hub. This particular sender sends events once a day. First time it runs, it works fine. 24 hour later we consistently get the error:  `link detached, reason: *Error{Condition: amqp:link:detach-forced, Description: Unauthorized access. 'Send' claim(s) are required to perform this operation. Resource: 'x.servicebus.windows.net/manifests'., Info:

[2018-12-10 17:20] devigned commented on #81
Is `v0.4.0` an accurate version? If so, I would suggest updating to 1.0 or greater. There was a fair amount of stability / performance work done between `v0.4.0` and `v1.0.0` (https://github.com/Azure/azure-event-hubs-go/compare/v0.4.0...master).

[2018-12-10 17:29] devigned opened #82 "Improve the testing experience when using this library"
### Expected Behavior
It should be easy to mock dependencies on this library.

### Actual Behavior
It is difficult to mock behaviors in this library due to a mix of public / private struct fields and limited use of interfaces in the public interface.

The problem is that this is likely to be a breaking change to the interface and thus would probably need to land in `v2.0`. This is issue is to trac

[2018-12-10 17:34] devigned commented on #77
@fantyz I'm going to close this issue since I think the checkpointing / sequence number / point in time issue is fixed, and I've move the discussion of the an improved testing experience into a new issue marked for `v2.0`. If you feel like this issue should not be close, please reopen it.

[2018-12-10 17:34] #77 closed

[2018-12-11 23:35] devigned commented on #80
That's code you shouldn't have to write 😊. I'm working on the fix now.

Glad to hear the stop gap working!

[2018-12-12 09:11] fantyz commented on #81
Sadly updating to `v1.0.0` did not fix the issue

[2018-12-12 16:33] devigned commented on #81
You are setting up the Hub and token provider as you should be. I don't see anything wrong with your code.

This sounds like a bug, and one I would very much like to correct with your assistance.

Here's a little background. With SAS token provider, a token is generated from KeyName and KeyValue with a 2 hour lifespan. That token is used to negotiate claims-based auth for the AMQP connection, sess

[2018-12-12 22:08] #79 closed

[2018-12-12 22:09] elsesiy commented on #79
Will you create a release right away? :)

[2018-12-12 22:10] devigned commented on #79
I'm on it :)

[2018-12-12 23:32] devigned commented on #79
tagged `v1.1.0`. Please don't hesitate to bring up other ideas for improving the experience.

[2018-12-13 00:37] elsesiy opened #85 "Add Receiver Options to EPH"
### Expected Behavior
Spinning up a Receiver allows me to specify a lot more opts than it's currently available using the EPH.

e.g. I'd be really interested in using the recently added `ReceiveFromTimestamp` option.

### Actual Behavior
I can't pass any temporal options/offset settings to the EPH. At least, I couldn't find a way to do it.

### Environment
- OS: `Mac OS X 10.14.1`
- Go version: `g

[2018-12-13 01:04] devigned commented on #85
This should be pretty simple to plumb via an EPH option. Does that sound good to you?

[2018-12-13 01:07] elsesiy commented on #85
Yes, again exactly what I'm looking for 🥇

[2018-12-14 16:41] connor4312 commented on #80
I see there was a PR merged for the issue--thanks! This issue takes a while to come up and we're going into the holidays with limited availability and deployment freezes, so we'll probably wait until January to try rolling back our stopgap and giving that a spin 🙂

[2018-12-14 16:51] devigned commented on #80
My pleasure!

Totally understand about holiday stability. I'll leave this issue open. Let me know how things go after the holiday.

Cheers!

[2018-12-17 15:59] tomconte opened #86 "TCP connections stay open when sending"
### Expected Behavior

I have a piece of code that sends data by calling NewHubFromConnectionString(), SendBatch() and finally Close() on the Hub. The functions is called multiple times in a loop. After leaving the code running for a while I can see many connections left open to the Event Hub endpoint, and they keep piling up.

### Actual Behavior

I was assuming that when calling Hub.Close() the

[2018-12-17 16:01] devigned commented on #86
Yes it should. I'll put out a patch shortly.

[2018-12-17 19:10] #86 closed

[2018-12-18 13:43] AndreasHaure commented on #81
Hi @devigned

We have now set up export of OpenCencus tracing for our application. The image below shows a Flame Graph for the successful case which occurs the first time a message is sent to the event hub which happens only the first time our application is executed:

![success1](https://user-images.githubusercontent.com/3206723/50157258-445ee180-02d1-11e9-8499-8009b890c22f.png)

Here is an image

[2018-12-18 21:33] AndreasHaure commented on #81
Thanks for the quick reply.

The context with a timeout of 30 seconds is defined right before the `send` invocation. And a new context with said deadline is passed in for each invocation of `send`. Only a single message is sent every 24 hours and the payload every time is only about 4kb. So I guess it should not able able to reach a timeout.

Unfortunately I don't see any errors in the log stateme

[2018-12-18 22:01] vcabbage commented on #81
You may want to double check the version of https//github.com/vcabbage/amqp (pack.ag/amqp) you're pulling in. An earlier version of the lib returned `DetachError` instead of `*DetachError`, that would cause the type switch @devigned referenced above to hit the default case and the link would not be recovered.

[2018-12-18 22:55] devigned commented on #81
`go-autorest` shouldn't have any impact in this code path.

Good idea, @vcabbage! I hadn't thought about that. It certainly could exhibit this kind of behavior.

I would expect near instant sends for a 4 kb message. Though, if the CBS needs to be negotiated, that would add a bit of time, but nothing close to 30 seconds.

[2018-12-19 06:22] AndreasHaure commented on #81
@vcabbage Thanks for the tip! It looks like we were using v0.4.0 of `pack.ag/amqp`, so I will try upgrading it and let you know if that solves the issue.

[2018-12-19 09:20] fantyz commented on #81
It looks like updating `pack.ag/amqp` has fixed the issue. @AndreasHaure was able to reproduce the error while having it running on a 3 hour loop. He did the update yesterday and it has been running without issue ever since.

Lesson learned: Dependencies of dependencies doesn't manage themselves.

Thanks a lot for the help @vcabbage and @devigned!

[2018-12-19 14:31] devigned commented on #81
@fantyz quick question, are you using go modules for dependencies?

[2018-12-19 14:37] fantyz commented on #81
Nope, it's still experimental. Waiting for it to become official in v1.12 before switching.

[2018-12-19 14:59] devigned commented on #81
Understandable. When you do adopt go modules, this should not happen any more.

Seems like this issue can be closed. If you disagree, please reopen.

Thank you for the help, @vcabbage!

[2018-12-19 14:59] #81 closed

[2019-01-07 07:27] JuustoMestari opened #88 "Event processor host: status description was not found on rpc message"
### Expected Behavior
No error when creating a new event hub processor

### Actual Behavior
Error when creating eventhub processor :  **status description was not found on rpc message**

### Environment
- OS: Docker image built in golang:alpine
- Go version: 1.11.1
- Version of Library: not sure, just used **go get**

I was using the code from the example for the eventhub processor (https://github

[2019-01-07 12:18] krpranay commented on #88
Hi,

Even I am getting same error during eph.new call. Can you guys suggest if this is any new bug introduced or need any addition setting.

[2019-01-07 15:56] devigned commented on #88
What version of `github.com/Azure/azure-amqp-common-go` are you running, @JuustoMestari and @krpranay? Are you using go modules, or `go get` without module support?

The error is happening due to an RPC request not finding the status description on a RPC response (https://github.com/Azure/azure-amqp-common-go/blob/12877250384ded92c1b1a2affe969579aaef97d4/rpc/rpc.go#L210). This is most definitely a

[2019-01-07 16:06] devigned commented on #88
To add to the path of execution leading to this error.
[code]

[2019-01-07 16:37] JuustoMestari commented on #88
I just used **go get github.com/Azure/azure-amqp-common-go**  on a fresh install and I got the error so I guess it's the latest version? I am not sure how to check the exact version of a go package?

[2019-01-07 16:43] devigned commented on #88
@JuustoMestari if you are running `go get` without module support, then you are getting `head` from the repo. If you use go modules, you would then be able to lock down the version in your project's `go.mod` file like we do here https://github.com/Azure/azure-event-hubs-go/blob/master/go.mod.

That aside, I'm going to change the status description to be optional on RPC. I don't believe it is neede

[2019-01-07 17:04] JuustoMestari commented on #88
@devigned Here is the content of **res.ApplicationProperties** , hope this helps :
`map[operation:READ status-code:200]`

[2019-01-07 17:14] devigned commented on #88
That helps greatly! The good news is that the request is successful. Bad news is that it doesn't have a status description. I'm guessing that is a change in the server side code which has not been rolled out to all environments.

I'll change the parsing logic to be more permissive. The change should be available shortly. Thank you for your help!

[2019-01-07 17:44] #88 closed

[2019-01-07 17:46] devigned commented on #88
@JuustoMestari, I've merged the fix. Would you run `go get -u ...` and let me know if this resolves the issue?

[2019-01-07 17:55] krpranay commented on #88
@devigned I just took latest and it works like charm. Thanks for quick fix.

[2019-01-07 17:56] devigned commented on #88
Awesomesauce! I'll release an update module dependency for the EH module.

Thank you again!

[2019-01-09 09:34] fantyz opened #90 "GetRuntimeInformation not working"
We have started seeing an issue that seems to be unrelated to any changes done in our end.

`GetRuntimeInformation` has begun returning the error `status description was not found on rpc message` which is causing a crash as it use the runtime information to discover partitions.

Any advice on how to fix this would be much appreciated.

### Environment
- Go version: `1.11.4`
- Version of Library:
[

[2019-01-09 09:53] fantyz commented on #90
Seems to be directly related to #88. We'll do an update of versions and see if that fixes it.

[2019-01-09 10:01] fantyz commented on #90
Updating to amqp to 1.1.4 and the sdk to 1.1.2 resolved the issue.

Breaking changes like that aren't cool!

[2019-01-09 10:01] #90 closed

[2019-01-09 16:17] devigned commented on #90
Glad that fixed the issue!

[2019-01-30 19:13] traviswt opened #92 "Goroutine Leak in azure-event-hubs-go/storage.(*LeaserCheckpointer).persistDirtyPartitions"
### Expected Behavior
Event consumption and processing with consistent amount of goroutines increasing and decreasing as necessary to accomplish function.

### Actual Behavior
Continual increase in goroutines until the process runs out of resources and becomes un-responsive while using the Event Processor Host and the included LeaseCheckpointer while events are being consumed on a consistent basis

[2019-02-12 20:00] R290 opened #95 "File persister being overwritten by receiver options"
### Configuration

- Eventhub configured with offset persistence using `persist.FilePersister`
- Receiver(s) configured with `ReceiveFromTimestamp`
- Static configuration (the configuration does not change between runs)

### Expected Behavior

The offset saved in the `FilePersister` directory of the hub optionally supersedes the offset given as receiver option.

### Actual Behavior

On receiver cr

[2019-02-15 00:07] devigned commented on #95
The functionality here should be that the receiver would use the file's checkpoint and start from there, rather than starting over from the beginning. I believe this to be a bug.

Thank you for reporting this. I'll try to get to it in upcoming week. If you need it sooner, please feel free to submit a PR.

[2019-02-21 17:37] talmdal commented on #30
For what it's worth, what I did was used vburenin/ifacemaker to generate interfaces for the vcabbage/amqp objects (i.e. Client, Session, Receiver and Sender); created thin interface implementations that delegated to the actual vcabbage/amqp library.  Then used counterfeiter to generate the mocks.
[code]
Generated Output:
[code]
Example wrapper:
[code]
Generate the mock
[code]

Then in the code tha

[2019-02-21 20:59] talmdal opened #96 "Using event-hub go library to connect to an iot hub"
### Expected Behavior
Not sure if this is possible. @devigned mentioned on another repository, that it might be possible to connect to an IoT Hub using this library.  If this is indeed possible, I would expect to be able to create a connection to the hub by providing a connection string in the format:
`HostName=hubname.azure-devices.net;DeviceId=deviceID;SharedAccessKey=...`

### Actual Behavior
W

[2019-02-22 04:08] devigned commented on #96
I see the issue. The connection string is in a different format than what is expected for Event Hubs. I will add a constructor to parse this and construct a Hub or a EventProcessorHost.

As for the message, that is due to the connection string for Event Hub requiring `Endpoint` as one of the keys. As you can see in the IoT connection string, it's actually `HostName`.

[2019-02-22 04:12] devigned commented on #96
As a side note, I did give this a try today, and I believe I will also need to handle a redirect upon connection to the uri in the IoT connection string.

[2019-02-22 04:13] devigned commented on #96
related to: https://github.com/vcabbage/amqp/issues/153

[2019-02-22 04:22] talmdal commented on #96
Thanks for that, I appreciate you looking in to it

[2019-02-22 04:24] devigned commented on #96
Man, @talmdal. Thank you for taking the time to write up an issue and try out our stuff. You are 👍

[2019-02-22 15:45] talmdal commented on #96
@devigned, I was thinking and I appreciate what you are doing, but I'm concerned that we might be trying to make the event-hub library more than it was meant to be.  If I understand correctly, it is meant to allow applications to connect to event hub for event in-gestation and extraction in go programs.  it's very specific in that the code is looking for partitions to access.

If I'm correct in my

[2019-02-22 16:22] devigned commented on #96
Check out what we do in the [Python SDK for Event Hubs for IoT message support](https://github.com/Azure/azure-event-hubs-python/blob/ff197f3156c6b522cb833e65bb6f77702accd1b3/azure/eventhub/client.py#L198-L225). It's not too bad.

There is a lot of device / service functionality in IoT that Event Hub messaging doesn't cover. I think the scope of this would just be connecting to the IoT provisioned

[2019-02-22 18:29] talmdal commented on #96
Thanks,

Using the event hub and the amqp-common library, to wrap the connection and authentication would save a lot of futzing around with the variety of authentication, connection issues, token renewal, etc. if there was a way, once the connection was made to expose the amqp.client so additional sessions and links could be established to non-event hub topics (i.e. /methods/devicebound, /twin and

[2019-02-26 18:15] traviswt commented on #92
Could I get a status update on this issue? We can't use this library for now since it has this leak.

[2019-02-27 20:41] devigned commented on #92
I've been focused on another project. I'll fix this by the end of the week. Thx for the nudge.

[2019-03-04 06:57] devigned commented on #92
I've run out of time this evening. I'll update tomorrow.

[2019-03-05 00:25] devigned commented on #92
@traviswt do you want to give the PR for the fix a test run?

The current build is failing due to some internal test infrastructure. It's in process of being sorted out. If the fix works for you and when the test infrastructure get's back to normal, we'll get the PR merged.

[2019-03-05 15:53] devigned commented on #92
@traviswt if you are wondering why I didn't use the solution you suggested it's that the function will complete before all of the concurrent persists are completed. At that point, the persistDirtyPartitions func will be rescheduled. There's a chance the func would be invoked twice at the same time. The mutex guard will protect from the two instances running at the same time, but it will end up in

[2019-03-06 23:56] traviswt commented on #92
Sorry for the delay. I'll test the fix tonight, thanks for getting the change put in! The solution I put in the issue was just something simple I was using to see if I could reproduce or not I figured there was something more advanced going on that I didn't spot looking at the code!

[2019-03-07 17:47] traviswt commented on #92
I verified the fix works as expected, there is not a leak anymore! Thanks for getting this fixed!

[2019-03-07 17:47] #92 closed

[2019-03-25 02:07] elsesiy commented on #85
@devigned I started implementing this but stopped since I'm not able to get the tests running on my end so far.

You can check it out [here](https://github.com/elsesiy/azure-event-hubs-go/commit/17436fec153c7c8a69bf0c9cca1a020d1b1c3406).

Is this how you would've implemented it too? I find it a bit clunky with the `checkpointPersister`, feel free to suggest how to improve this!

[2019-03-25 18:09] devigned commented on #85
@elsesiy sorry to hear you are not able to get the tests running. What's failing and where did we let you down?

Hmm... I think you are going to run into issues with this approach. If you have multiple EPH processes starting at the same time, they are all going to try to write the same checkpoint without regard to existing checkpoint or other processors.

When I mentioned adding options to EPH, I

[2019-03-26 14:26] xbitres opened #98 "Interface that describes Hub"
Having an interface that represents a Hub would allow for the developers to mock the Hub when testing.

Is there any other way to mock it?

[2019-03-26 17:24] devigned commented on #98
I'm hesitant to add interface definitions for testing purposes. It seems like it would be better for application consuming the library to create its own abstraction and mock that abstraction.

I don't think I can layout the position better than @vcabbage has [here](https://github.com/vcabbage/amqp/issues/159#issuecomment-470336024).

With that said, I do like what is going on in https://github.com

[2019-03-27 00:46] elsesiy commented on #85
@devigned Oh yeah that makes much more sense! I won't be able to dedicate much time to this due to other commitments but this is probably the way to go.

[2019-03-27 14:34] xbitres commented on #98
We kind of have the Sender interface in the current lib. However it is lacking the Close() method to be able to represent the Hub.

[2019-03-27 23:42] ponsakthi opened #99 "Expose "x-opt-enqueued-time" as part of event properties"
### Environment
- OS: Windows10
- Go version: 1.12.1
- Version of Library: latest

Expose "x-opt-enqueued-time" as part of event properties. This will be useful on the eventprocessorhost receiver client to measure any lags or delays in processing

[2019-03-28 15:54] devigned commented on #99
I like the way that we handled this in https://github.com/Azure/azure-service-bus-go with a mapstructure which will transform annotations into the `SystemProperties` structure which resides on `Message` struct (`Event` in this case) shown here https://github.com/Azure/azure-service-bus-go/blob/ca4ff1da9488f0ab8788dd85c5bf0217e8edd343/message.go#L69-L80. The transformation of annotations to `System

[2019-04-01 15:31] e96wic opened #100 "Timeout while sending batch"
We have a microservice running that sends one message to an eventhub every second. We're seeing timeouts (context.deadlineExceeded) in this setup multiple times per day with a timeoutCtx of 5 seconds. Sometimes it helps to create a new hub object, at other times sending the subsequent message also fails with the same timeout and error. We have another microservice written in Java that has a simila

[2019-04-04 16:58] devigned commented on #100
The sender should handle reestablishing a connection and link upon failure.

Have you noticed any network partitions between your service and Event Hubs?

If possible, it would be great to run the client with tracing on. The library is instrumented using OpenCensus. Should be able to visualize a trace and see if there are any errors similar to what was done in #81.

Also, you can run the service w

[2019-04-11 07:35] yngveh commented on #100
We are also seeing errrors "amqp: link closed" and "amqp: connection closed".

After som digging into the code it seems like the recovering is not happening for these cases. In the trySend method in sender.go the errors above is hitting the default case and is not recovered since they are created with `ErrLinkClosed = errors.New("amqp: link closed")` and  `ErrConnClosed = errors.New("amqp: connect

[2019-04-11 15:18] devigned commented on #100
I think this is related: https://github.com/Azure/azure-service-bus-go/issues/116

I'll get a fix in by the end of the week.

[2019-04-11 18:32] atecce opened #101 "Quickstart: `hub.Receive` not receiving "hello, world""
### Expected Behavior

seeing `hello, world!` print to `stdout` when running the Quickstart with my connection string

### Actual Behavior

~`amqp: receiver settlement mode "second" requested, received "first" from server`~

~fwiw i varied the credentials and the namespace and got other (more expected errors), so I'm confident it isn't something like mistyped names~ was using the connection string

[2019-04-11 20:06] atecce commented on #101
needed to `eventhub.ReceiveWithConsumerGroup(consumerGroup)`

[2019-04-11 20:41] devigned commented on #101
I'm going to do a little more investigation on this one. You shouldn't run into the error above regardless of using `eventhub.ReceiveWithConsumerGroup(consumerGroup)`.

[2019-04-11 20:45] atecce commented on #101
oh! well thank you!

just to be clear, the error message was a result of using the connection string from Event Hub Namespace instead of the Event Hub itself.

after that a connection was successful, but `hub.Receive` didn't consume any messages.

to deal with that, I needed to supply an `eventhub.ReceiveOption` to `hub.Receive` in the sig like:

[code]

[2019-04-11 20:48] devigned commented on #101
Thank you so much for the details, @atecce!

The namespace vs the hub conn string is something we should call out a bit more in the readme. The error message should provide some guidance to help in correcting the issue.

[2019-04-11 21:20] atecce commented on #101
no problem at all!

[2019-04-11 22:56] g-rad opened #102 "queue.Receive() receives messages with LockedUntil expired"
When queue.Receive() is used and processing time is longer that queue lock duration, the messages received by handler have expired LockedUntil.

Initially I planned to use queue.Receive() with completing messages right after receiving by handler and then processing them, this way I make sure the message won't be returned to the queue if processing takes longer than lock duration.

However, with th

[2019-04-13 11:45] g-rad commented on #102
Sorry, I meant to leave it in azure-service-bus-go repo

[2019-04-13 11:45] #102 closed

[2019-04-16 12:01] BassOfLion commented on #100
Hi @devigned, any updates on the fix?

[2019-04-17 06:01] zhongyi-zhang commented on #101
Weird I hit `amqp: receiver settlement mode "second" requested, received "first" from server` when even using the connection string for the event hub itself.

[2019-04-17 12:42] atecce commented on #101
looks like the test you cite there doesn't use a Consumer Group. would that explain it? are they required to subscribe and it doesn't fallback to a `$Default` or something?

[2019-04-17 19:26] devigned commented on #101
The default consumer group if not specified is `$Default`.

Specifying the consumer group should not be related to the `amqp: receiver settlement mode "second" requested, received "first" from server`. The settlement mode error occurs when the message broker returns a different settlement mode than what the client requested. In PR #104, I should have the settlement issue resolved.

As part of that

[2019-04-17 19:51] devigned commented on #101
I believe this issue is now resolved with #104. If you are still receiving the settlement mode error, please reopen this issue.

[2019-04-17 19:51] #101 closed

[2019-04-18 17:08] devigned commented on #100
Sorry for the delay. Should get this pulled in shortly.

[2019-04-18 18:07] #100 closed

[2019-04-18 18:32] devigned commented on #100
Please grab `v1.1.5`. If the issue persists, please reopen.

[2019-04-18 18:33] devigned commented on #80
Closing due to age. Please reopen if the issue is not fixed.

[2019-04-18 18:33] #80 closed

[2019-04-25 18:52] #66 closed

[2019-05-02 07:15] aloysiustany commented on #99
@devigned Any progress on this ?

[2019-05-02 23:02] devigned commented on #99
Sorry... this kept getting pushed down on the priority queue. I'll try to get it in tomorrow or Monday.

[2019-05-03 18:02] devigned commented on #98
I'm going to close this issue for the reasons I pointed out above. However, I do believe the testing / mocking of this library for easier use in development should be easier. I'm open to ideas.

[2019-05-03 18:02] #98 closed

[2019-05-06 20:56] #99 closed

[2019-05-06 20:58] devigned commented on #99
Should be available in `v1.3.0`. Thank you for your patience!

[2019-05-15 07:20] aloysiustany commented on #85
@elsesiy @devigned Is this something which you guys are working on ? I was looking for ReceiveFromTimestamp option in EPH but failed to find.

[2019-05-15 19:32] elsesiy commented on #85
@aloysiustany I'm not actively working on this but it would be definitely useful!

[2019-05-16 08:25] pikvik opened #109 "Unable to listen to the event hub in hello world example ."
<img width="1680" alt="Screenshot 2019-05-16 at 1 52 53 PM" src="https://user-images.githubusercontent.com/18361946/57838322-1f1fc200-77e2-11e9-949d-93255cc6a6d4.png">
### Expected Behavior
I am listening response to be received on pinging Event hub .

### Actual Behavior

azure.BearerAuthorizer#WithAuthorization: Failed to refresh the Token for request to https://management.azure.com/subscription

[2019-05-17 20:21] atecce opened #110 "Quickstart: fails to send messages when attempting to connect to an Iot Hub"
### Expected Behavior

"hello, world" appears in `stdout`

### Actual Behavior

`amqp: sender settlement mode "unsettled" requested, received "mixed" from server`

### Environment
- OS: 10.14.3
- Go version: 1.12.1
- Version of Library: 1.3.0

are IoT Hubs supported?

[2019-05-20 14:01] atecce commented on #96
fwiw it's pretty straightforward to set Terraform output variables for `event_hub_events_endpoint`, `event_hub_events_path`, `shared_access_policy.0.key_name`, and `shared_access_policy.0.primary_key` and construct a Event Hub compatible connection string programmatically, which is what I'm doing [here](https://github.com/Azure/azure-event-hubs-go/issues/110)

[2019-05-21 16:49] devigned commented on #109
This appears to be error when trying to dial the Managed Identity provider on Azure virtual machine. Are you running this on an Azure VM with Managed Identity enabled? For more information on Managed Identities: https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview.

Also, can you provide the code used to construct your Event Hub client?

[2019-05-21 16:52] devigned commented on #110
Hi @atecce, what region is your Event Hub in?

Per the IoT Hubs query, I think you found the open issue related to using IoT Hubs. Basically, we should make it easier to use IoT Hubs.

[2019-05-21 16:55] atecce commented on #110
hai!

so this _is_ an IoT Hub, but I'm using the Event Hub compatible connection string, and it is in US East

[2019-05-21 16:56] devigned commented on #85
I haven't had time to work on this to date. It's been on my backlog. I'll see if I can't sneak it in later this week.

[2019-05-21 17:01] devigned commented on #110
I see. I need to add a IoT Hub resource to my test suite.

As a work around, you could use vcabbage/amqp `v0.10.4` rather than `v0.11.0`. In the `v0.11.0` release, [the library became more strict in link settlement mode negotiation](https://github.com/vcabbage/amqp/releases/tag/v0.11.0). In earlier versions, this error would not be raised.

[2019-05-21 17:03] atecce commented on #110
ok! I'll play around with it

[2019-05-21 17:06] atecce commented on #110
just curious was it [this pr](https://github.com/vcabbage/amqp/pull/157/files) that did it?

[2019-05-21 17:24] devigned commented on #110
I believe so. I also think it was the correct course of action from the perspective of `vcabbage/amqp`. If the server and the client don't agree on link settlement, an app my run into undefined behavior.

[2019-05-21 17:28] atecce commented on #110
oh totally. just wanted to see if I'm understanding things

fwiw when I add a

[code]

to `Gopkg.toml` I get

`context deadline exceeded`
`exit status 1`

[2019-05-21 17:31] devigned commented on #110
hmm... give it a run with env: `DEBUG_LEVEL=3` and build with -tags debug. That should give you some pretty verbose protocol level output.

[2019-05-21 17:38] atecce commented on #110
ah ok. same message

`amqp: sender settlement mode "unsettled" requested, received "mixed" from server`

[2019-05-21 17:46] atecce commented on #110
hmmmm. getting the same thing actually

`amqp: sender settlement mode "unsettled" requested, received "mixed" from server`

and I'm _assuming_ this happens during the initial connection because I'm not seeing any debug output

[2019-05-21 17:49] devigned commented on #110
Something doesn't seem right... I wouldn't expect this error with earlier versions of the amqp lib. Are you sure you rebuilt from a clean state? Do you need to run `go clean && go build -tags debug`?

[2019-05-21 17:51] atecce commented on #110
ah ok. you are right.

I was passing `-tags debug` on the execution of the binary and not the build bc I don't know how Go works apparently

getting lots of output now

[2019-05-21 17:57] atecce commented on #110
ahha

`13:54:55.831720 RX: Detach{Handle: 0, Closed: true, Error: *Error{Condition: amqp:unauthorized-access, Description: Unauthorized access. 'Send' claim(s) are required to perform this operation. Resource: 'sb://iothub-ns-bar-1651822-ad94b7ec4c.servicebus.windows.net/bar'. TrackingId:af1521fd07b44158ae273150475bd094_G7, SystemTracker:gateway7, Timestamp:2019-05-21T17:54:55, Info: map[]}}`

so

[2019-05-21 17:59] devigned commented on #110
Here's how the Python implementation handles creating a connection: https://github.com/Azure/azure-event-hubs-python/blob/9c80edb06bb3629e5f9c4ce9b091af561405a90b/azure/eventhub/client.py#L198-L225

[2019-05-24 09:52] pikvik commented on #109
We are not trying on VM we are running on local and providing all the credentials and connection string as well .

[2019-05-24 17:23] devigned commented on #109
I'm not clear why the thumbs down?

The error you are providing is from the Azure Active Directory token provider when it tries to probe for managed identities. It does this as the last resort when it doesn't find Service Principal Credentials [AZURE_TENANT_ID, AZURE_CLIENT_ID and AZURE_CLIENT_SECRET env variables](https://godoc.org/github.com/Azure/azure-amqp-common-go/aad#JWTProviderWithEnvironm

[2019-05-24 19:44] davidsnyder-jask opened #111 "Potential socket leak in amqp connection"
https://github.com/Azure/azure-event-hubs-go/blob/95f9bc025a9462337f8087aa883bc9b35a1e693e/hub.go#L490

https://github.com/Azure/azure-event-hubs-go/blob/95f9bc025a9462337f8087aa883bc9b35a1e693e/hub.go#L510

We have a loop that calls `GetRuntimeInformation` to get a list of `PartitionIDs`. We've noticed that the number of sockets increases until the program crashes with `socket: too many open file

[2019-05-24 19:47] devigned commented on #111
Oh no! That definitely needs to be cleaned up. Thank you for opening the issue.

[2019-05-27 09:04] pikvik commented on #109
We are not pulling from .env file but hard coding . Everywhere we have hard coded .
credential.go :

func AADSASCredentialWithEnvironmentVars() AADSASCredentialOption {
	return func(config *aad.TokenProviderConfiguration) error {
		config.TenantID = "*******************************"
		config.ClientID = "*******************************"
		config.ClientSecret = "***************************"
		// con

[2019-05-28 13:39] atecce commented on #110
heh. need to either enable a fallback route or set your own message route. closing

[2019-05-28 13:39] #110 closed

[2019-05-28 13:41] atecce commented on #96
should this be closed? arguably it's already solved at the transport layer [through Event Hub compatible endpoints](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-read-builtin)

[2019-05-28 14:41] atecce commented on #96
btw @devigned fwiw I construct it programmatically through tf output variables like this

[code]

[2019-05-30 22:55] devigned commented on #109
If you have a connection string, just use:

[code]

I don't understand why you are using both Azure Active Directory (AAD) auth and a connection string at the same time. They are two separate, but equal, ways of authenticating.

[2019-06-03 15:42] devigned commented on #96
I'm going to close this issue, and create another to track improving the developer experience. This is not a fun experience at this point.

[2019-06-03 15:42] #96 closed

[2019-06-03 15:44] devigned opened #113 "Improve the experience when connecting to an IoT Hub"
It's not super intuitive how one would connect to an IoT Hub with this library and should be super simple.

See also: #96

[2019-06-03 18:41] davidsnyder-jask commented on #111
Hi @devigned is there any timeline of when this fix would be available? We are considering forking the repo to add in the fix, but we'd rather not fork if we don't have to.

[2019-06-03 18:51] devigned commented on #111
I'll get the fix in today and tag a new release.

In the future, I'm also happy to accept a pull request with a fix as well. No need to run your own fork :).

[2019-06-03 23:21] #111 closed

[2019-06-03 23:22] devigned commented on #111
should be good to go with `v1.3.1`

[2019-06-04 19:27] davidsnyder-jask commented on #111
Fixed the issue we were seeing. Thanks so much!

[2019-06-19 00:57] jonnylangefeld opened #115 "Error: amqp: sender settlement mode "unsettled" requested, received "mixed" from server"
I just instantiated a regular eventhub with 10 partitions. I am trying to send a simple byte array, but i get below error message. I see that the `amqp.ModeUnsettled` is [hard coded](https://github.com/Azure/azure-event-hubs-go/blob/eb729b0d2cd97ad9a628e7ba3c99c679c8cf0a0b/sender.go#L251), so I have no influence on that. Do I have to do something different on EventHub Creation?

    hub, err = eve

[2019-06-19 15:29] devigned commented on #115
Can you run this with `DEBUG_LEVEL=3 go run ${your_app_path} -tags debug`, and post the output?

[2019-06-19 15:47] devigned commented on #115
Here's what I would expect for sending to a partitioned Event Hub targeting a single partition to send messages:

[code]

[2019-06-19 17:20] jonnylangefeld commented on #115
I tried it in my actual app and it didn't work there, so I made a simple file and stripped it down to the essentials, but also there none of the debug output was printed. Here is the code I used in a `main.go` file:

[code]

And this is my run command:

    DEBUG_LEVEL=3 go run main.go -tags debug

The only output is still:

    amqp: sender settlement mode "unsettled" requested, received "mixed"

[2019-06-19 17:41] devigned commented on #115
I'm guessing that `go build` cached some of the underlying package products and didn't recompile with the tag.

[code]

Give it a shot with `-a`.

[2019-06-19 17:43] devigned commented on #115
/cc @marstr

[2019-06-19 18:46] jonnylangefeld commented on #115
Thanks @devigned, that helped a lot! I got the debug output and found out through that, that it was actually my bad, I had to consumers, one for `listen` and one for `send`. I accidentally copied the connection string from the `listen` one. I guess the only thing would be why the error message was misleading. Cause the last line of the debug log actually gave the correct hint that the `send` claim

[2019-06-19 21:15] devigned commented on #115
I believe the issue of the hidden error will be remedied when we bump our amqp lib dependency to `v0.11.1` (see: https://github.com/vcabbage/amqp/pull/162).

As for the unauthorized access error, it appears the connection string provided doesn't have access to the address `Address: [queue]`. Is `[queue]` something you replaced or is that the actual name of the Hub?

[2019-06-30 07:47] unclearParadigm opened #117 "Examples not usable in Go-module because of AutoRest"
### Expected Behavior
creating a simple Go-Module should work like this, right?

[code]

### Actual Behavior
Build fails because of ambigous autorest-versions (0.3.0 and 12.0.0)

[code]

### Environment
- OS: Fedora 29
- Go version: 1.12.6

[2019-07-02 14:45] LukaszBrygala opened #118 "ReceiveWithLatestOffset receiver read old messages"
I am using library to read events from IotHub.

### Expected Behavior

I would like the receiver configured with ReceiveWithLatestOffset to read events starting from the latest.

### Actual Behavior

Receiver is reading old messages.

### Environment
- Go version: go1.12.5 darwin/amd64
- Version of Library: github.com/Azure/azure-event-hubs-go v1.3.0

[2019-07-03 05:27] LukaszBrygala commented on #118
After some testing I've discovered, that the behavior depends on the ordering of options passed to the Receive function.

When I pass following options:
[code]
receiver is reading old messages despite ReceiveWithLatestOffset. But when I switch options ordering like this:
[code]
receiver is working as expected.

[2019-07-03 05:33] LukaszBrygala commented on #118
OK, now I understand. ReceiveWithLatestOffset is internally doing this:
[code]
and that line depends on consumerGroup, which is set to default until ReceiveWithConsumerGroup is processed.

I think it would be good to improve this or describe in documentation, that options must be passed in proper order.

[2019-07-03 08:11] ragoragino opened #119 "Handling network partitions"
Hii,

I wanted to ask about the way one should handle network partitions in the case of EPH. When running EventHub peer through EPH, the Start method calls scheduler's Run method which will run forever, retrying any connections lost.

However, in a production environment, we would love to be able to, if our services happen to become misconfigured (and loose network connectivity) during their run (

[2019-07-08 14:41] R290 commented on #113
For reference, I've made a Telegraf input plugin which is meant to connect to Azure IoT Hub using this library: https://github.com/R290/telegraf/tree/eventhub/plugins/inputs/eventhub

The required connection string can be found here: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-read-builtin#read-from-the-built-in-endpoint (the connection string starts with `Endpoint=sb:

[2019-07-08 20:13] devigned commented on #119
Awesome question!

Let me preface that I don't particularly like EPH, though it does help folks who are looking for a relatively simple solution to balancing work across consumers dynamically.

Callback handlers could be used and is an option. Perhaps, they would be optionally passed into the EPH constructor. Is that how you'd really want to interact with EPH?

Though, do you really want to use EP

[2019-07-08 20:14] devigned commented on #118
Sorry... just getting back from vacation.

Options should not need to be in any particular order. This is a bug and an evil one at that.

Thank you for the heads up!

[2019-07-08 20:17] devigned commented on #117
hmm... I wonder if a `go mod tidy` before `go build` would fix everything up.

[2019-07-09 14:56] ragoragino commented on #119
Thanks for the answer!

I consider the possibility to dynamically load-balance events based on the current CPU/memory usage quite useful. And even though, with your example, it is still possible, it is achieved with a level of indirection through a StatefulService (which in the case of 1:1 relationship between partition and instance could also increase our CPU/memory requests if we would want to u

[2019-07-11 16:35] devigned commented on #119
I do consider the feature set of EPH to be useful, but I would like to implement it differently than it is currently implemented. The default implementation uses Azure Storage to durably persist checkpoints for a partition consumer. I would rather build a ring like implementation where the consumers built their own quorum, would coordinate lease acquisition and checkpoint persistence.

"when an in

[2019-07-14 13:09] duydao commented on #95
This bug seems to limit the possibility for an integration of event hub into telegraf.

@R290 Is there any chance you could submit a PR with a bugfix?

 We're very interested to use event hubs in combination with telegraf.

[2019-07-16 14:32] R290 commented on #118
Before fixing #95, I've decided to look into this bug since it seems somewhat related. The problem arises in: https://github.com/Azure/azure-event-hubs-go/blob/64aa20d6c1260df9c7fc558e6892adc9bec9ff9f/receiver.go#L131 Where options are handles by order of entry by the user:
[code]
My first idea was to get the function name from `opt` (say `ReceiveWithConsumerGroup`) but I've not yet found a way to

[2019-07-18 16:57] devigned commented on #118
Rather than trying to use reflection or to place a priority on options, @R290 what do you think about removing the direct call within the options to `receiver.storeLastReceivedCheckpoint(..)` and replacing it with a body that sets a field on the receiver struct, and then after the options for loop, the call to `storeLastReceivedCheckpoint` would occur. This would allow for options to be specified

[2019-07-20 12:17] R290 commented on #118
Your solution is definitely the more elegant one. I created and tested a proof of principle in: https://github.com/R290/azure-event-hubs-go/commit/7765834f2d72e2b0595045db200b55431bdee4c4 I guess the error return of the `ReceiveOption` type could be removed since this is no longer used anywhere?

I also added a check before `receiver.storeLastReceivedCheckpoint(..)` which should solve issue #95 (t

[2019-07-24 17:23] devigned commented on #118
You're right. The error return could be omitted, but I would prefer to leave it since I could easily see adding new configuration options in the future which will have some error return possible (I really don't like this argument b/c yagni, but I've run into needing the error for other options and adding it after the fact is pretty ugly).

[2019-07-24 19:22] R290 commented on #118
Then we leave the error as is. Before submitting a PR, there is a small issue with my imports. Upon saving `receiver.go` VS Code automatically changes the imports to:
[code]
The original is:
[code]
Which variant should I use in the PR, with or without the added `common`?
I'm using `go version go1.12.7 linux/amd64` with modules enabled and `go.mod` is unchanged.

[2019-07-24 19:50] devigned commented on #118
You can leave it with the added `common`. It will remove the ambiguity of `common` uses in that code file.

[2019-07-25 08:15] metrue commented on #115
So is this issue fixed? I still met this issue today

[2019-07-29 10:18] PeterUherek opened #121 "What is the default behavior if exceed the maximum amount of Event Hub Receivers"
Based on documentation only 5 no-epoch receivers can listen on one consumer group. I initialized 6 event hub receivers but no error came from 6th receiver.  I expect error from function:

but no error was returned. What is the default behavior of this function if exceed the maximum amount of Event Hub Receivers? Is there way how to find out that limit was exceeded?

[2019-07-29 17:25] devigned commented on #121
The expected behavior is that Event Hubs would terminate a 6th receiver.

It's likely the listenerHandler is where the error is happening. I haven't verified, but I would not be surprised if the connection is established successfully, `hub.Receive(...)` returns, then the connection is terminated by Event Hubs and the error shows up in the `listenerHandler`.

[2019-07-29 17:44] devigned commented on #115
@metrue could you run your code with `DEBUG_LEVEL=3` and `-tags debug`. That should show the amqp protocol level debug.

[2019-07-30 07:38] PeterUherek commented on #121
I tested and it looks like the connection is established successfully. No error came from `hub.Receive(...)`. The handler, `listenerHandler`, worked but no events came from event hub and also no error showed up. It was not terminated by event hub or the error was not propagated to the handler. It looks like a bug.

[2019-07-31 13:38] metrue commented on #115
@devigned

I tried to reproduce that issue but everything works well now,  so I guessed maybe somehow it ran against the old release.

[2019-07-31 15:26] metrue commented on #115
it seems like I did not create a policy for it, after I create a policy with`Send` and `Listen`, then initialize an EventHub client with the connection string, everything works well, otherwise it will get error `amqp: sender settlement mode "unsettled" requested, received "mixed" from server` with 404 status code.

[2019-07-31 17:26] connor4312 commented on #80
Hey, sorry for the lack of followup here. We've updated to the latest version of this library this morning and are still seeing timeouts happening every few minutes. We recover with the retry code posted above, but under high rps timeouts seem more frequent, which is a concern for us. Here's the version snippet from our go.sum

[code]

[2019-07-31 17:43] connor4312 opened #122 "Event hubs stop receiving data"
### Expected Behavior

We can read from an event hub partition and continue receiving data forever, or until an error is returned.

### Actual Behavior

We stop receiving data after some time. This happens particularly frequently under high RPS. Here's the code we have. We've used a timer and a reset in order to kill and then retry receiving data if we don't get events for a given amount of time.

[2019-07-31 22:33] devigned commented on #115
@gavinfish, I think the AMQP dependency needs to be updated. There was a fix made in 0.11.1 or 0.11.2 which would show the real error. If you have a chance, please update the deps and release a new tag. Ping me if you want to pair.

[2019-07-31 22:44] devigned commented on #122
Can you build your code with `-tags debug` and execute the process with `DEBUG_LEVEL=3`. This should output protocol debugging info to stdout. From that, we should be able to diagnose what is going on.

@gavinfish we should probably review the logs together to help diagnose the issue.

[2019-07-31 22:46] devigned commented on #121
Agreed... It sounds like a bug. Could you build your code with `-tags debug` and run the process with env var `DEBUG_LEVEL=3`, and post back what you find.

[2019-07-31 23:06] connor4312 commented on #122
Dropped a build on a box with those settings. I'll send logs to you via email once we hit a timeout. Thanks!

[2019-08-01 00:33] connor4312 commented on #122
Sent. Interestingly, amqp logs that it still gets data even up to the point where we timeout (meaning, the function hasn't been called for 30 seconds).

[code]

So this seems like it might be something internal to the client or our usage of it. Trying to wrap everything inside the `receive()` function into a spawned goroutine, and then immediately returning nil, didn't seem to do much, so I don't

[2019-08-01 09:02] gavinfish commented on #122
1. I think there is no need to introduce `timer.Reset()` to make the diagnosis more complex. It should be a potential temporary solution to mitigate your situation but won't be much help for the debug.
2. Is it possible to provide clean code to be able to reproduce the error stably?

@devigned  any more information could we get from the amqp log?

[2019-08-02 06:58] metrue opened #124 "The right way to new a event"
Apologize first, this is a question more than an issue, document is not clear on this also, https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.eventhubs.eventdata.-ctor?view=azure-dotnet

There are two ways to create an in current code base,
[code]
Basically what they do is put payload []byte to an `Event`'s `Data` field.

My question is what exactly the `Data` of an event means, here is

[2019-08-02 07:42] gavinfish commented on #124
In my opinion, `Data` represents the event type in your system. When you consume a specific event, you may need more details which you can put them in the `properties`.

I think you should use the first one. Below code shows how to deal with `Data` and `properties` when converting an event to an amqp message.
https://github.com/Azure/azure-event-hubs-go/blob/a3c7e1b4bd28f5aff938933975e8045396da373

[2019-08-02 08:35] metrue commented on #124
Thanks @gavinfish for quick response, then I am a little curious about why use `New(name string)` or `New(type string)` to create an event,  just a quick look at `amqp`'s spec,  it seems like  `Data` can carry something, not just the "event name" or "event type"

http://docs.oasis-open.org/amqp/core/v1.0/amqp-core-complete-v1.0.pdf
[code]

[2019-08-02 13:57] gavinfish commented on #124
I am not sure what's your concern about the `New(name string)` method. Do you mean you want to save more than just message in the `Data`? Indeed you put anything in it and just write proper handler to deal with it. But I think it is more nature to have a `properties` to save extra information here. You do not have to serialize/unserialize your data like the second sample you provide.

[2019-08-02 14:09] devigned commented on #124
To give just a bit of background here. Event construction was specifically intended to be abstract from the domain model of the application. Since `Data` is just a bunch of bits, you can use it to do whatever you want with it. You could marshal JSON to a string, marshal a protobuf to binary, or anything else you want. We didn't want to be too prescriptive about how people were putting their bits o

[2019-08-02 14:38] metrue commented on #124
@gavinfish

What I concern is how these two different ways impact the downstream consumers, for example, we are going to enable `Capture` feature, then Splunk will consume those events, so if Splunk does not care the `Properties`, then I should put all the data into `Data` block.

@devigned Thank you so much for your clear explanation, according to your explanation, the best ways maybe like,

[cod

[2019-08-05 02:03] #95 closed

[2019-08-06 00:54] #124 closed

[2019-08-07 13:01] ragoragino opened #126 "Missing events in EventHub after successful send"
### Expected Behavior

We expect that all events are delivered to the EventHub.

### Actual Behavior

However, if EventHub returns any error during receiving of messages from the sender (e.g. in case the throughput limits are exceeded), the sender is not notified of that situation immediately. Several events are lost before the connection becomes healthy again.

We believe the issue might be cause

[2019-08-07 20:54] bryanklewis opened #127 "Send Batch example does not work"
### Expected Behavior
From the [README.md](https://github.com/Azure/azure-event-hubs-go#sending-batches-of-events) the following example is provided:
[code]
### Actual Behavior
The example provided on the README.md for using SendBatch does not actually work. It looks like SendBatch was changed with this commit:
https://github.com/Azure/azure-event-hubs-go/commit/e7ca69248db0ae51aa6c8ca86ed9fd1c60b

[2019-08-08 01:32] gavinfish commented on #127
@bryanklewis you could try something like this:
[code]

[2019-08-08 03:12] bryanklewis commented on #127
@gavinfish that does not seem to work either. I got a panic.

Code:
[code]

Results:
[code]

[2019-08-08 03:24] gavinfish commented on #127
I think this is caused by the missing `eventID` for each event, but the error message here is unclear.

[2019-08-08 03:29] bryanklewis commented on #127
Thats seems to be the right track, in my application, the actual line the panic referred to was [here](https://github.com/Azure/azure-event-hubs-go/blob/38494a72e59457e16aa0645b9534e83bc3130cfa/batch.go#L115). Is that a bug in the library or do i need an eventID waiting for each event added? Since it gets over-written by e.PartitionKey = eb.PartitionKey, seems like the library should account for n

[2019-08-08 03:50] gavinfish commented on #127
Setting `eventID` when constructing events should mitigate the issue. But you are right, I think we should  consider no ID field situation. If the `eventID` is necessary when creating an event, I prefer to treat it as a constructor parameter, otherwise users probably will miss it.

What do you think? @devigned

[2019-08-08 04:27] bryanklewis commented on #127
@gavinfish constructing the slice with this line:
[code]
 for example with batchSize 3 to the make() statement causes the constructed object to be filled with 3 nil Events. Its those nil events that are then causing the error when passed to func (eb *EventBatch) Add(e *Event) (bool, error).

[2019-08-08 04:48] gavinfish commented on #127
@bryanklewis you are right. The error is not related with the eventID stuff. I have just double checked your sample code. The init code should be some like this if you want to use `append`:

[code]

otherwise you can use make like this:

[code]

[2019-08-08 05:01] bryanklewis commented on #127
Thanks @gavinfish, that helps. Either way, need some better examples of batch send in the docs :-)

[2019-08-08 11:49] MartinKosicky commented on #127
The iterator does not work, (partition key is missing in the batch event). Batch ends up in random partition even when you specify PartitionKey for each event.

[2019-08-08 11:56] devigned commented on #127
A batch can only be committed to a single partition. If more than one event in a batch has a different partition, the batch will fail.

The batch iterator may send events to a different partition on each iteration, but for each iteration all the events in that iteration must be committed to the same partition (per the Event Hubs service).

[2019-08-08 12:09] MartinKosicky opened #128 "SendBatch in v2 does not use partitionKey"
### Expected Behavior
When I send events in batches and those events have partitionKey set I expect all these events to go into the same partitionId.

### Actual Behavior
When I use SendBatch with the NewBatchIterator with a single event it always goes into random partition as if I did not set partitionKey for that event

### Environment
- OS: Ubuntu 18.04
- Go version: go version go1.12.7 linux/a

[2019-08-08 12:10] MartinKosicky commented on #128
Probabbly the api of NewEventBatchIterator should expect a partitionKey as argument if there is a constraint that all events have same partitionId. Or I should be able to send any partition key in any event in the batch and it should work correctly. The implementation does not seem to be so flexible

[2019-08-09 07:54] gfha opened #131 "When receiving PartitionID = nil"
### Expected Behavior
I expect to read out partition id, but get nil.

### Actual Behavior
spew dump of eventhub.SystemProperties

(*eventhub.SystemProperties)(0xc0002af680)({
 SequenceNumber: (*int64)(0xc000391790)(1220190),
 EnqueuedTime: (*time.Time)(0xc00045b060)(2019-08-08 07:01:41.582 +0000 UTC),
 Offset: (*int64)(0xc000391798)(292067211376),
 PartitionID: (*int16)(<nil>),
 PartitionKey: (*s

[2019-08-09 08:05] gavinfish commented on #131
@gfha could you please provide any code to reproduce this issue?

[2019-08-09 08:21] #118 closed

[2019-08-09 08:27] gfha commented on #131
Sure, it's really just the hello world,

https://gist.github.com/gfha/8e650643125ab4f79269bac6711404ba

[2019-08-12 02:24] jonlimx opened #132 "Failed to install"
### Expected Behavior
go get -u github.com/Azure/azure-event-hubs-go/v2 should get version 2.x.x successfully.

### Actual Behavior
Failed with the following errors:
λ go get -v -u github.com/Azure/azure-event-hubs-go/v2
github.com/Azure/azure-event-hubs-go (download)
package github.com/Azure/azure-event-hubs-go/v2: cannot find package "github.com/Azure/azure-event-hubs-go/v2" in any of:
        C

[2019-08-12 02:30] gavinfish commented on #132
Please try `go get -u github.com/Azure/azure-event-hubs-go`.

[2019-08-12 11:06] MartinKosicky commented on #128
Nothing? Is this intention that core functionality doesnt work?

[2019-08-12 13:55] devigned commented on #128
I replied in a previous thread here: https://github.com/Azure/azure-event-hubs-go/issues/127#issuecomment-519487485

I feel that the batcher is working as it was designed without regard to partition key on individual events to make it easier to send batches. We found the partition batch error to be difficult for consumers to understand.

There are options for how this can be extended in the future

[2019-08-12 17:08] MartinKosicky commented on #128
Hmmm I don't know the right answer to this question but I know the following:

- It worked in previous version of eventhub (don't know the exact tag, back when SendBatch was using EventBatch not the Iterator. It was clear that I am sending EventBatch to a specific partition, so there was not really any error.

- If I make a custom EventBatchIterator and return EventBatch on Next() and set the Part

[2019-08-12 17:22] devigned commented on #128
- Previously, if you sent an EventBatch to a partition, it would work. That is, it would send all events to that partition without regard to the partition key on the event. I felt behavior was misleading / broken.
- You are 100% correct: https://github.com/Azure/azure-event-hubs-go/blob/master/batch.go#L166. The batch does not have the partition key property set when it is transformed into an AMQP

[2019-08-12 17:40] MartinKosicky commented on #128
Well I would vote to at least fix that the EventBatch gets PartitionKey when transformed to the AMPQ message as a priority so we would be able to at least workaround this by making implementation of the EventBatchITerator interface in short-term. I would submit pull request but I don't know if there is any AMPQ protocol documented publicly.  (It's hard to find such documentation)

And the SendBatc

[2019-08-13 15:05] PeterUherek commented on #121
Logs:
[code]

There is the error:

[code]

[2019-08-13 15:18] devigned commented on #126
The sender sends the message unsettled (https://github.com/Azure/azure-event-hubs-go/blob/master/sender.go#L251 and http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-transport-v1.0-os.html#type-sender-settle-mode). Sender should only return upon ACK from Event Hubs that the message was persisted.

What happens if you add a sleep after sending the events and before requesting the partition inf

[2019-08-13 16:01] devigned commented on #126
This is a bug and I now see why... My above comment was only half right. The sender is sending unsettled, but we must ask the receiver for an ACK by setting the `amqp.LinkReceiverSettle(amqp.ModeSecond)` when establishing the sender.

## Without `amqp.LinkReceiverSettle(amqp.ModeSecond)`
[code]

## With `amqp.LinkReceiverSettle(amqp.ModeSecond)`
[code]

I'll open a PR and get this fixed up. Thank

[2019-08-13 18:08] vcabbage commented on #121
From the log output, it looks like you're using `pack.ag/amqp` pre-v0.11.1. (I wouldn't expect to see the `Flow` frame at `16:47:13.978125` if it were v0.11.1 or later.)

v0.11.1 fixed this error propagation bug https://github.com/vcabbage/amqp/releases/tag/v0.11.1

[2019-08-13 18:17] devigned commented on #121
The master branch has a bumped dependency for pack.ag/amqp.

@gavinfish, this issue might be resolved when the next version is tagged.

[2019-08-14 09:07] ragoragino commented on #126
Yes, we have tried it locally and it works correctly. Thanks a lot.

Just a question - when do you expect to release a new version with a fix?

[2019-08-15 08:56] PeterUherek commented on #121
I updated `pack.ag/amqp` to v0.12.0 and It works. Thx guys.

[2019-08-15 09:01] gavinfish commented on #121
The latest version (v2.0.1) of azure-event-hubs-go has upgraded the amqp library's version to v0.11.2. This issue should have been mitigated.

@PeterUherek Thanks for sharing information here!

[2019-08-15 09:01] #121 closed

[2019-08-16 18:00] devigned commented on #76
This is no longer needed as the batch iterator ensures that max message size is handled without the consumer needing to know.

[2019-08-16 18:00] #76 closed

[2019-08-19 08:56] MartinKosicky commented on #128
hmm.. so what can we do here? Do you see any timeframe? Or you have any docs about AMPQ messages in eventhub? I can make pull request too

[2019-08-19 15:08] devigned commented on #128
@gavinfish I'm hoping you can provide some guidance on when you think this work could be done.

[2019-08-20 06:59] gavinfish commented on #128
@MartinKosicky I have created a PR to try to mitigate this issue at #134, feel free to have a try and give any feedback, thanks.

[2019-08-20 07:08] MartinKosicky commented on #128
@gavinfish thank you very much,  i will try it today

[2019-08-20 10:21] maxtar opened #135 "Couldn't download v2 package"
Hi, I do
`go get -u github.com/Azure/azure-event-hubs-go/v2`

### Expected Behavior
All packages downloaded successful.

### Actual Behavior
Getting the following error:
[code]
### Environment
- OS: Windows 10 x64
- Go version: go version go1.12.9 windows/amd64

[2019-08-20 15:31] devigned commented on #135
Would you try to run `GO111MODULE=on go get -u github.com/Azure/azure-event-hubs-go/v2` or execute `go get -u github.com/Azure/azure-event-hubs-go/v2` outside of your GOPATH, and report back?

[2019-08-20 19:43] maxtar commented on #135
@devigned I do it outside my GOPATH. But If I do it in directory with my module I've got described above situation. If I do it in any other path, I've got the same error as in [issue 132](https://github.com/Azure/azure-event-hubs-go/issues/132)

[2019-08-23 07:51] #128 closed

[2019-08-27 21:30] jonnylangefeld opened #136 "Go routine leak in azure-event-hubs-go/storage.(*LeaserCheckpointer).GetLeases"
### Expected Behavior
Amount of go routines for azure-event-hubs-go/storage.(*LeaserCheckpointer).GetLeases.func1 doesn't increase over time

### Actual Behavior
the go routines are leaking and memory footprint grows

### Analysis

I found the same issue as described in #92 in the function azure-event-hubs-go/storage.(*LeaserCheckpointer).GetLeases

I have a piece of software, that is reading from

[2019-08-29 01:42] #136 closed

[2019-08-29 02:08] #126 closed

[2019-09-02 07:41] LukaszBrygala opened #139 "Connecting to many partitions using partition ID"
My code is using following call to connect to partition using specified ID:
[code]

### Expected Behavior

Two things I would expect:
1. If I pass non-existing partition ID I would like some error to be reported on call to `Receive`. For example, I have Iot Hub confiugred to use 4 partitions (IDs from "0" to "3") and I will wrongly configure app to connect to partition "5" I would like error to be

[2019-09-02 08:25] maxtar commented on #135
Do you have any news?

[2019-09-02 08:39] #127 closed

[2019-09-02 08:49] gavinfish commented on #139
1. Please upgrade the event hubs lib to the latest version.
2. For now, a hub only has one mutex to prevent receiving conflicts, so it cannot speed up with several goroutines.

[2019-09-03 16:49] devigned commented on #135
I'm not sure what to tell you. This is what I see when I run `go get -u github.com/Azure/azure-event-hubs-go/v2`.

[code]

[2019-09-04 09:35] maxtar commented on #135
I've tried now, and error was gone. Maybe you do new commits since I wrote this issue? And I upgraded to go 1.13.

[2019-09-04 17:49] jonnylangefeld opened #140 "Go routine leak in azure-event-hubs-go/v2/eph.(*leasedReceiver).Run"
### Expected Behavior
Amount of go routines for Go routine leak in azure-event-hubs-go/v2/eph.(*leasedReceiver).Run.func1 doesn't increase over time

### Actual Behavior
the go routines are leaking and memory footprint grows

### Analysis

This is basically the same issue as described ind #136. Here are two screenshots taken 1:40 hrs apart from each other indicating a significant increase of go ro

[2019-09-05 13:17] jonnylangefeld opened #142 "Error: panic: send to closed channel"
_Originally posted by @jonnylangefeld in https://github.com/Azure/azure-event-hubs-go/pull/137#issuecomment-528029362_

This current release actually does sometimes write to a closed channel now:

[code]

sorry, no solution yet.
@devigned do you know why that could happen? To me your suggestion with the switch case seemed totally valid. Also [this blog post](https://blog.golang.org/context) sound

[2019-09-06 03:28] #115 closed

[2019-09-06 05:50] #142 closed

[2019-09-06 06:19] gavinfish commented on #140
@jonnylangefeld do you call `(*leasedReceiver).Close` for each lr?

[2019-09-06 07:03] elsesiy commented on #140
@gavinfish We don't. We're using the almost exact code as in the `readme` for EPH which doesn't manually close the leasecheckpointer at all. Our setup differs only in that we write the incoming events to a channel to be processed in concurrently later on. The application runs continuously as there will be always events in the EventHubs namespace in our case. Does this answer your question?

[2019-09-06 18:08] LukaszBrygala commented on #122
It looks like I also observed similar issue. After couple of hours of consuming messages from 32 partitions (~ 104 messages / second on each partition) my consumer stopped receiving messages one one of them. Actually, it didn't stop completely, it was still receiving something like 0.5 message / minute. That situation last for around 25 minutes after which consumer suddenly started to consume mess

[2019-09-10 16:27] jonnylangefeld commented on #142
@gavinfish @devigned, thanks for fixing this! Do you have an ETA of when this will be released?

[2019-09-13 10:48] hoenirvili commented on #117
I experienced the same issue while developing a service using this lib. @elsesiy, I've basically done the exact same thing using the `replace` directive. It's nasty but at least it works.

[2019-09-18 07:59] hoenirvili commented on #140
I'm experiencing the same behavior in my production setup. Is this resolved?

[2019-09-24 08:52] aloysiustany commented on #131
I am facing the same problem. Any update on this @gavinfish @gfha ?

[2019-09-24 08:54] aloysiustany commented on #85
@devigned did you get a chance to get to this ?

[2019-09-24 18:02] devigned commented on #85
@jhendrixMSFT or @gavinfish any chance you folks could take a look at this?

[2019-10-16 20:01] t-sean opened #146 "BatchWithMaxSize continuous loop if events exceed MaxSize"
### Expected Behavior

When MaxSize is reached, I expect it to continue the loop at the next event position

### Actual Behavior

Continuously loops starting at the first event provided from NewEventBatchIterator

### Environment
- OS: Windows
- Go version: 1.12
- Version of Library: v2.0.3

Able to fix locally by storing a start position from ebi.Cursors last cursor value
[code]

[2019-10-25 20:46] princjef commented on #117
The same change that was made in https://github.com/Azure/azure-amqp-common-go/pull/39 (namely, swapping out the base go-autorest package with its individual subpackages) should do the trick in the go.mod here too. Happy to post a PR to do this if needed.

[2019-10-28 17:01] princjef commented on #117
I took a stab at this but it looks like the underlying Event Hubs package pulled from the azure-sdk-for-go project also pulls in the same go-autorest dependency chain, so it doesn't look like this can be done until https://github.com/Azure/azure-sdk-for-go/issues/2993 is resolved

[2019-10-31 22:38] catalinaperalta commented on #131
We added documentation for this in #147 .  PartitionID will always be nil in the SystemProperties struct, this field was mistakenly added and was never part of the payload. If we ever do a new major release we will remove this field.

I will close this issue now.

[2019-10-31 22:38] #131 closed

[2019-11-15 04:51] uabhishek71 opened #148 "Getting error while accessing event hub logs using managed identity from Azure VM"
Hi Team,

I have created a VM and assigned user managed identity to VM , Event hub namespace and storage but I am getting error
 "Failed to create EPH for Event hub insights-operational-logs : unhandled error link 75788848-2f57-4a34-9e8f-8a97203bf9a7: status code 401 and description: Attempted to perform an unauthorized operation."
In below line of code
spToken, err := adal.NewServicePrincipalToke

[2019-11-22 08:35] schleidl opened #149 "Environment variable AZURE_ENVIRONMENT not recognized"
### Expected Behavior
Execution of the function `func NewHub(namespace, name string, tokenProvider auth.TokenProvider, opts ...HubOption) (*Hub, error)` with environment variable AZURE_ENVIRONMENT=AzureChinaCloud should use the Azure China Cloud environment.

### Actual Behavior
AZURE_ENVIRONMENT environment variable is not used to determine the Azure Cloud the code is executed in. The problem lie

[2019-11-28 07:03] elsesiy commented on #85
Is there any activity going on w.r.t. this issue?

[2019-11-29 08:23] MartinKosicky opened #150 "Question: How does prefetch work in go library. How to timeout"
My question is how to prefetch works in the go library. I guess it tryies to fill the buffer with as many messages to fill the prefetch. My question is what if prefetch is set to 1000 and there are only 500 messages in eventhub. What happens? Will it give the 500 immediately? Or will it give the 500 after a timeout( what is the timeout? how to override it? )

[2019-12-02 22:57] devigned opened #151 "Possible repo move for Event Hubs"
Just wanted to add this here as it may affect this repo: https://github.com/Azure/azure-sdk-for-go/issues/6463

[2020-01-13 22:19] christothes commented on #82
@devigned I'd like to take a crack at this one to get more familiar with golang and this repo. Is there anything I should be aware of before I dig in?

[2020-01-13 22:51] devigned commented on #82
Well, I am not an active maintainer of this repo any longer. Those duties now fall on @jhendrixMSFT et al, so I'd defer to their team on any guidance / feedback.

This is super Golang'ish background, so please ignore if you are more advanced in Go. Just wanted to provide a bit of a foundation if it isn't there already. I think the biggest thing to grok with Golang vs say C# or Java wrt testing is

[2020-01-16 22:02] catalinaperalta commented on #148
Hi! Thanks for reaching out. I think this is a permissions issue. The error message seems to indicate that the identity in use doesn't have the right set of permissions for the operation you are attempting to perform.
Here's an article about what permissions you can use for Event Hubs: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-managed-service-identity

You might need an Azure Ev

[2020-01-21 16:06] Hades32 opened #155 "Handling of errors in event processing seems to be broken"
My expectation when consuming events with the EPH was that, when a handler fails to process a message, it would not continue to process messages on this partition. Otherwise it would essentially skip a message what could lead to invalid states.

But when my handler, that I register like this
[code]

returns an error, this seems to be ignored, which is validated by looking at this line:
https://git

[2020-01-21 16:23] devigned commented on #155
After reviewing this code, I believe you are correct on each account. The handler should return all errors from the composite handler and deal with them appropriately.

Great observation about the wg. To ensure execution, it should be in a defer.

If you are interested in a PR, please don't hesitate to open one. I'm sure it would gladly reviewed and accepted.

[2020-01-21 21:01] Hades32 commented on #155
Done, but I didn't touch the handling of panics in the handlers as I felt this might need deeper consideration.

[2020-01-22 14:01] krpranay opened #157 "Azure storage SAS token is regenerated even before getting expired"
### Bug Overview
Please check azure-event-hubs-go -->storage --> credential.go line number 155
[code]
### Expected Behavior
When Azure Storage SAS token is not expired it should be reused instead of generating a new one.

In the above code, token expiry is checked as  `cred.token.expiry.Before(time.Now().Add(-5 * time.Minute))` But if this statement returns true we are returning expired token. It

[2020-01-24 07:44] #157 closed

[2020-01-27 17:08] #155 closed

[2020-01-27 17:09] jhendrixMSFT commented on #155
Fixed in v3.1.2, thanks for your contribution :)

[2020-01-29 20:01] BalloonWen commented on #41
Thanks for your hint, I had the exactly same issue and now figured it out.

[2020-01-30 20:04] sheitm opened #159 "Unexpected type for amqp message annotation for key "x-opt-offset""
### Overview
This error happens when using the event processor host.

Please see the file azure-event-hubs-go -> event.go line 88 (in func GetCheckpoint).

[code]

### Expected Behavior
The expected behavior is that the object in the annotations map at the key offsetAnnotationName (== "x-opt-offset") is a string, and that the type assertion `offset = val.(string)` works without problems.

### Actu

[2020-02-05 14:48] fischor opened #160 "Missing IoT Hub System Properties"
When routing Iot Hub messages to the inbuilt EventHub, the messages get enriched with the following System Properties (see https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-construct):
- `iothub-connection-device-id`
- `iothub-connection-auth-generation-id`
- `iothub-connection-auth-method`

But the `eventhub.Event.SystemProperties` is a struct not defining any of the above

[2020-02-05 15:52] fischor commented on #160
Just adding the fields fixes this issue:

[code]

However, there are more optional messages from the Iot Hub, [see the docs](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-construct#system-properties-of-d2c-iot-hub-messages). Not sure if might be better to make the System Properties `map[string]interface{}` as well and add some helper methods to extract the common ones

[2020-02-13 18:58] Bixx opened #163 "Cannot connect to Event Hub endpoint through proxy"
### Expected Behavior
I would expect to be able to send/receive data to/from the Event Hub endpoint when operating behind a proxy, but this does not appear to be supported.

I'd expect to see a `WithProxy(...)` function of type `HubOption` to be used when setting up a hub, for example:

[code]

A `WithAuthenticatedProxy(httpProxy, username, password)` option would also be useful for those behind a

[2020-02-16 12:19] peter0086 commented on #135
I met this issue when I imported the packages from Azure Golang SDK.
OS: rhel 7
Go version: go1.12.7

[2020-02-18 21:07] ZachTB123 opened #165 "Starting EventProcessorHost fails with ContainerAlreadyExists"
### Expected Behavior

The processor should start without errors

### Actual Behavior

We are using this library in our application that consumes events from Event Hub. We are running the same code across hundreds of docker containers (using ACI and in separate subscriptions). Within the last day I've seen a couple of containers in a few subscriptions fail to start the processor (when calling `Sta

[2020-02-26 10:57] Lackshu commented on #41
One thing worth checking out is the firewall in your network being opened for port 5671. I expected Event Hub to always be on 443. It worked for me after the port was opened up. Validated the port using tcpdump after referring to the protocol handshake doco for Event Hub/Service Bus.

[2020-02-26 13:53] BalloonWen commented on #41
In my case they are both opened, but sometimes company firewall has some special settings which are not predictable.

[2020-02-29 21:06] #160 closed

[2020-03-01 08:03] birdayz commented on #140
are there any plans to fix this?

[2020-03-01 17:35] elsesiy commented on #140
We ended up migrating to shopify/sarama and using the Kafka interface. The library is not only much more efficient but also well maintained. Maybe that works for you too?

[2020-03-10 05:50] serkantkaraca opened #166 "Client sending large number of disposition frames."
This is regarding a service side investigation where we identified large number of disposition frames then usual. Can you please help me identify why client sends large number of disposition frames? See sample logs below with frame counts where disposition frame is id 21.

* in-connection4435862(XXXXXX): namespace: XXXXXX, operation: write, duration (ticks): 1200141623, total bytes: 4240487, elaps

[2020-03-10 12:43] PeterUherek commented on #122
We have the same problem. Is there any news or progress in this bug?

[2020-03-12 01:10] ksivamuthu opened #167 "[Question][Docs/Sample] EPH - Receive messages from single partition."
I'm looking for a sample/docs to receive messages from a specific partition.  I looked at the sample using the event hub.

But, Is there any sample/docs - where I can subscribe to the messages from a specific partition using EPH by claiming ownership of the partition.

similar to this...
https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/eventhub/event-hubs#consume-events-from-a-single-part

[2020-03-23 16:47] askingcat opened #168 "Messages that can't be processed won't be retried"
### Expected Behavior

If during the processing of a message in the handler an error occurs, the message should be redelivered.

The message order should be kept intact.

### Actual Behavior

The message is not retried.

### Environment

- OS: Linux/Ubuntu 18.04
- Go version: 1.14.1
- Version of Library: v3 (hash: bc2987d6d5deed48b84abd63d3bb4ab4e315c3d5)

[2020-03-23 16:54] askingcat commented on #168
The test we added via the pull request currently just checks the retries we are expecting, but not the message ordering.

[2020-04-07 23:37] fafg commented on #167
hi @ksivamuthu, in this session you can find an example of how to do it...

https://github.com/Azure/azure-event-hubs-go#quick-start

you can left out that for and use something like this:
[code]

[2020-04-08 00:33] fafg commented on #166
did you already try with the latest version? It would be possible to update to v3.2.0?

[2020-04-08 05:35] serkantkaraca commented on #166
This was hit only once. Moving to up to date library won't really prove it is fixed. Any idea what may cause large number of disposition frames to be sent?

[2020-04-11 21:21] obeyda opened #170 "checkpointing inconsistency across azure implementations"
# Context
![image](https://user-images.githubusercontent.com/15065966/79055115-44ab8a80-7c42-11ea-8bbb-6ebf806a1910.png)

i've used three ways to process events and do checkpointing:
  - Azure.Messaging.EventHubs.EventProcessorClient class [.net] (red)
  - IoTHubTrigger for azure functions (blue)
  - azure-event-hubs-go library (green)
and i ended up with the structure shown in the screenshot (yel

[2020-04-11 21:22] obeyda commented on #170
if this is not the place to post this issue I would appreciate pointing me to where i can post it.

[2020-04-22 01:16] anabouna opened #171 "`Hub.SendBatch` doesn't implement `Sender.SendBatch` anymore"
### Expected Behavior
func (h *Hub) SendBatch(ctx context.Context, iterator BatchIterator, opts ...BatchOption) error

Implements

Sender.SendBatch (Hub is an implementation of Sender)

### Actual Behavior
It's no longer the case after e7ca69248db0ae51aa6c8ca86ed9fd1c60b1a21f

Can we update the interface to reflect the changes ?
### Environment
- OS: Write here
- Go version: Write here
- Version o

[2020-04-22 17:56] princjef opened #173 "Custom AMQP annotations cannot be sent/received"
Raw AMQP messages have an [Annotations](https://pkg.go.dev/github.com/Azure/go-amqp?tab=doc#Annotations) map which can contain arbitrary key/value pairs. This map is used by both Event Hubs and IoT Hub to set their own pieces of metadata, but it is also used by other systems and can be interacted with directly when working with other languages. As a result, other systems may produce or expect addi

[2020-04-22 18:07] princjef commented on #173
I'm happy to work up a PR if this seems like a reasonable addition. The least invasive approach I can think of is to provide the raw map alongside the `SystemProperties` in the `Event` struct. When receiving, the map is presented raw (as with `ApplicationProperties` in the `Properties` field today), while during sending it is used as a base on which the `SystemProperties` fields get applied.

[2020-04-24 18:36] princjef commented on #173
@jhendrixMSFT @gavinfish any thoughts on this?

[2020-04-27 23:04] kwontae opened #175 "Question on best way to handle availability issue with eventhub"
So I have a quick question.

My team is working on a scheduler component which basically goes through the payload intake and distribute the load across all event hubs determined by the region (Payload will have an array of items that have a region as a field).
I want to be able to say if sending the batch of events have failed due to resource being down or bad name, I want to send it a different o

[2020-05-24 16:45] rnitzan opened #177 "On batch of 10k and more events. I get invalid consumed number of rows in adx table"
### Expected Behavior
Sending 10k events with routing info for azure data explorer table, I should get matched 10k rows in the azure data explorer table

### Actual Behavior
In azure data explorer table i get 120k rows, where first 6k rows are duplicated many times and last 4k are missing at all.

This reproduced every time for 10k and more tables for at least csv/json data format were events incl

[2020-05-25 09:30] kerend commented on #177
@rnitzan, please check EH metrics, and see if incoming and outgoing messages are as expected (10K).
Also please verify there is only one consumer per EH, per consumer group.
If issue still exists, please open a ticket to ADX with details of cluster name, connection name, and timeframe of occurence.

[2020-05-25 10:57] rnitzan commented on #177
@kerend

Reproduce every run for client  that send 10k outging events in batch

WITHOUT the following 3 lines
_eventData.Set("Table", tableName)
eventData.Set("IngestionMappingReference", mappaingName)
eventData.Set("Format", dataFormat)__

**EH incoming 10k
EH outgoing 10k**

WITH those 3 lines set

EH incoming 80k  EH outgoing 50k
outgoing is 50K cause i stopped the client

So this happen before

[2020-06-02 03:19] slamgundam opened #178 "Not receiving messages coming from devices"
### Expected Behavior
Should receiving JSON messages from devices

### Actual Behavior
I used the quick start sample code that provided following link

https://github.com/Azure/azure-event-hubs-go#quick-start

and I just simply change the `connStr` to my actual iot-hub connection. When I started running the code it doesn't receive any of messages that coming from devices.

I already verify devices

[2020-06-02 06:28] slamgundam commented on #178
i just resolved by extended time from 20 seconds to 5 minutes.

`ctx, cancel := context.WithTimeout(context.Background(), 5*time.Minute)`

not to sure why have extend the time to able to get the messages from devices

[2020-06-03 07:56] rnitzan commented on #177
Closing due to not continue with this solution
Thanks
Raanan

[2020-06-03 07:56] #177 closed

[2020-06-08 19:35] #173 closed

[2020-06-08 19:41] jhendrixMSFT commented on #173
Sorry for the delay.  Fixed in v3.3.0

[2020-06-12 13:21] molsonice88 opened #179 "EventBatchIterator Next returns same events on each call for multiple batches"
### Expected Behavior
When multiple batches are needed to send all events I expect EventBatchIterator.Next to return the next group of events. I also expect EventBatchIterator.Done to stop the loop when `cursor == len(ebi.PartitionEventsMap[key])` with multiple batches.

### Actual Behavior
The same batch of events are sent on every EventBatchIterator.Next execution which may cause a continuous lo

[2020-06-15 13:02] abhirockzz opened #180 "eventhub.NewHubWithNamespaceNameAndEnvironment blocks for more than 3 mins"
### Expected Behavior

Behavior of `eventhub.NewHubWithNamespaceNameAndEnvironment` should have sane defaults when invalid arguments (event hubs namespace and/or event hub name etc.) are passed i.e. timeout/fail in a reasonable amount of time

Or, it should allow the caller to enforce timeout by allowing it pass in a `context.Context`

### Actual Behavior

I tried two scenarios:

1. did not pass i

[2020-06-21 16:40] iMoses commented on #42
It's quite a shame you didn't post what worked for you...
Could really help me right now, i'n having the same problem

[2020-06-21 18:22] GoEddie commented on #42
This fixed it, I just wasn’t testing it correctly “add partition key to the received event #43“

[2020-07-06 08:43] koalalorenzo opened #181 "amqp:link:stolen every time I connect to event hub"
### Expected Behavior
It should be able to start and stop on the fly. I have implemented when stopped, a graceful stop that closes the connection in case that was the issue. (it runs `eventhub.Hub.Close`)

### Actual Behavior
Every time I start a new hub by invoking `eventhub.NewHubFromConnectionString` I get the following error:
[code]

I tried creating a new ConnectionString, or a new Shared acc

[2020-07-10 15:21] e96wic opened #182 "panic: interface conversion: interface {} is int64, not string"
https://github.com/Azure/azure-event-hubs-go/blob/9898ba65784f054a43e4b18c84b5abe5fe8217b1/event.go#L100

[2020-07-28 11:05] Himanshu8859 opened #184 "UnregisterHandler is not able to update the checkpointer which results in duplication of events"
### Expected Behavior
UnregisterHandler should be able to update the checkpointer at Azurehub

### Actual Behavior
UnregisterHandler is not able to update the checkpointer which results in duplication of events

### Environment
- OS: Linux/Windows
- Go version: 1.13
- Version of Library: latest

[2020-08-06 18:59] kwontae opened #185 "Package fails to pull"
### Expected Behavior
ADO build pipeline gets triggered to build docker image and
pulls the package without any complaints

### Actual Behavior
/home/vsts/go/pkg/mod/github.com/!azure/azure-event-hubs-go/v3@v3.3.0/receiver.go:262:19: not enough arguments in call to msg.Modify
	have (bool, bool, nil)
	want (context.Context, bool, bool, amqp.Annotations)
/home/vsts/go/pkg/mod/github.com/!azure/azure

[2020-08-06 19:17] kwontae commented on #185
this is causing our production build pipeline to fail please review

[2020-08-06 20:45] devigned commented on #185
@jhendrixMSFT and @jjcollinge I believe this commit is causing some nasty side effect to upstream projects https://github.com/Azure/go-amqp/blame/8a245fd3417dda236aef063b29105d72c3ca14a6/types.go#L1826

Any chance to make the change in go-amqp backward compatible by introducing method signatures that are the same as the previous signatures, but pass in a `context.Background` into the new methods?

[2020-08-06 21:15] jhendrixMSFT commented on #185
@kwontae are you not building in module-aware mode?  EH v3.3.0 uses go-amqp v0.12.6.  How did your build pull a different version?

[2020-08-07 00:50] kwontae commented on #185
@devigned @jhendrixMSFT

So here are some things that I've discovered.

We have an azure pipeline that utilizes the [Go Task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/build/go?view=azure-devops). Because of how it was built for an older version of go, I have a several other steps to ensure this task will use go 1.13.0

The issue was that regardless of the setting of GO111MODUL

[2020-08-07 02:19] jhendrixMSFT commented on #185
Thanks for the explanation and digging in, glad you got it working.  I too have been burned by inadvertently not building in module-aware mode.

Normally we wouldn't release a breaking change in a minor update, however since go-amqp is still in preview I allowed this one as I felt it was an overall improvement in the API and the right thing to do (i.e. having a context parameter to control the lif

[2020-08-07 02:19] #185 closed

[2020-08-25 05:54] johnklee opened #186 "Not enough arguments in call to msg.Accept while initializing receiver"
### Expected Behavior
With the sample code below (the connection string is given correctly):
[code]
The execution will have below error:
[code]

### Actual Behavior
The code should work properly to start receiving the message from eventhb.
I manually modify `../github.com/Azure/azure-event-hubs-go/receiver.go` from local and it will work.

### Environment
- OS: CentOS8
- Go version: go version go1

[2020-08-25 23:46] lumichael24 opened #187 "Quick Start only works when sending and receiving Events, but doesn't work when just receiving"
### Expected Behavior
From the quick start code, if we remove the lines:
`signalChan := make(chan os.Signal, 1)
signal.Notify(signalChan, os.Interrupt, os.Kill)
<-signalChan`

the event hub handler should still receive events from the EventHub since the Receive function is blocking until there is a connection to the EventHub.

### Actual Behavior
Removing those lines of code results in the EventHu

[2020-08-31 09:24] cosmin-margarit commented on #186
Hello,
I'm having the same issue with v3. I've created a new clean project and installed only the eventhub dependencies through
`go get -u github.com/Azure/azure-event-hubs-go/v3`. At the moment of importing something from the library, the build fails.

Here is the main.go code:

[code]

And here is the error:
[code]
I've tried with versions: 3.3.0, 3.2.0, 3.1.2, 3.1.1, 3.0.0, and all of them fail

[2020-09-02 23:47] princjef commented on #186
I saw the same. The issue appears to be coming from v0.13 of go-amqp. Try this and see if it fixes your problem:

[code]

[2020-09-03 06:22] cosmin-margarit commented on #186
Indeed, the 0.12.8 version of azure/go-amqp fixes the build process, not sure if it has other consequences though.
Thanks!

[2020-09-03 18:05] princjef opened #188 "Provided offset not always honored when creating receiver"
### Expected Behavior

When calling `hub.Receive()` with `eventhub.ReceiveWithStartingOffset(offset)` as an option, the receiver starts reading from the provided offset.

### Actual Behavior

If a receiver was previously created and closed within the same `eventhub.Hub` client for the same consumer group + partition, the next call to `hub.Receive()` will start from wherever that receiver stopped.

[2020-09-04 17:06] catalinaperalta commented on #188
Thanks for the feedback, looking into this and your proposed change.

[2020-09-04 20:44] rgbusato commented on #181
same 😞

[2020-09-08 23:13] catalinaperalta commented on #187
Hi! That's interesting, I'll look into this and get back to you. In the meantime, we have this other example for a consumer that only receives events: https://github.com/Azure/azure-event-hubs-go/blob/master/_examples/helloworld/consumer/main.go.

This is the link to the full project that demonstrates how to a producer sends messages and how the consumer receives them: https://github.com/Azure/azu

[2020-09-24 08:51] Petr-Liska commented on #179
I've also experienced this rather annoying error - if you try to send batch of events larger than 1MB, sending is stuck in continuous loop, repeatedly sending messages over and over and floods EventHub until timeout.

See example below - if you send only 50 messages (of size 10kB) it works fine, if you send 100 messages it gets stuck.

[code]

[2020-10-13 12:12] advancedwebdeveloper opened #195 "strange stuff, coming from gofmt and 1+ critical bug, with vet. Conversion from Duration (int64) to string yields a string of one rune, not a string of digits in sender.go"
Hi.
Here is what I was doing.

This looked somewhat suspicious - I suspected that there might some bug:

And here is an obvious bug:

[2020-10-13 12:14] advancedwebdeveloper commented on #195
Here is what I used:

And my environment:

[2020-10-15 20:25] #188 closed

[2020-10-15 20:28] jhendrixMSFT commented on #188
Fixed in v3.3.1.

[2020-10-15 20:29] jhendrixMSFT commented on #195
The `go vet` issue has been fixed in v3.3.1.

I don't believe any of the other issues are actionable (it's vendored content).  Please let me know if you disagree or I missed something.

[2020-10-15 20:29] #195 closed

[2020-10-20 16:28] #186 closed

[2020-10-20 16:32] catalinaperalta commented on #182
The fix was merged in #183. Thanks for your contribution!

[2020-10-20 16:32] #182 closed

[2020-10-23 20:47] catalinaperalta commented on #159
Fixed in #183.

[2020-10-23 20:47] #159 closed

[2020-10-30 15:25] nicolasGab commented on #170
Hi @obeyda I have come across the same inconsistency, having C# and Golang consumers. I've made a pull request to begin to address this, I would love your feedback.

[2020-11-09 17:05] catalinaperalta commented on #179
Fix was applied in #198.

[2020-11-09 17:05] #179 closed

[2020-12-01 15:20] tomklino opened #201 "Fails to install with "not enough arguments in call""
### Expected Behavior
go get -u github.com/Azure/azure-event-hubs-go/...

successful installation

### Actual Behavior
[code]
### Environment
- OS: Windows (WSL2 Ubuntu 20)
- Go version: go version go1.13.8 linux/amd64
- Version of Library: Any

I've been following the guide here: https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-go-get-started-send to the letter  - got to here: https:/

[2020-12-01 17:04] devigned commented on #201
The key indication here is that `latest` of each dependency is being pulled down, rather than the version of the dependency required in the `go.mod` and `go.sum` files for `github.com/Azure/azure-event-hubs-go`.

Seems like you might be running this in your `GOPATH` with `GO111MODULE=auto` ([the default](https://golang.org/cmd/go/#hdr-Module_support)). You have 2 options.
1. You can run `go get -u

[2020-12-02 08:53] tomklino commented on #201
Thank you for the quick reply

I should have mentioned it in my question, but I actually have `GO111MODULE=on` and I'm running it from `~/workspace/go-playground/event-hubs` (so not the `GOPATH`), and I encounter the issue nonetheless.

Any ideas what else can I do?

(I might be missing something in my understanding of how go modules work)

[2020-12-02 09:12] tomklino commented on #201
I've deleted my ~/go contents and ran `go mod init <something>` in my code directory - got a different result this time, but ends with the same error:

[code]

[2020-12-02 13:05] devigned commented on #201
Ok... Here's what's going on and why the documentation should be changed (@catalinaperalta & @jhendrixMSFT).

When you run `go get -u` Go is going to try to update the dependencies with the latest version it can based on the module dependencies. In this case, that means `go: github.com/Azure/azure-storage-blob-go upgrade => v0.11.0` from `github.com/Azure/azure-storage-blob-go v0.6.0` specified [h

[2020-12-03 08:16] tomklino commented on #201
Yes. Looks like that did the trick. Thank you!

[2020-12-03 08:16] #201 closed

[2020-12-09 18:44] catalinaperalta commented on #146
Fixed in #198.

[2020-12-09 18:44] #146 closed

[2020-12-10 16:52] #149 closed

[2020-12-10 19:34] catalinaperalta commented on #132
Closing due to inactivity. If the issue persists please feel free to reopen.

[2020-12-10 19:34] #132 closed

[2020-12-10 19:39] catalinaperalta commented on #148
Closing due to inactivity. If the issue persists, please feel free to reopen.

[2020-12-10 19:39] #148 closed

[2020-12-11 15:52] catalinaperalta commented on #180
Hi! Thanks for reaching out.

I haven't been able to reproduce this error. I created a simple example that only calls `eventhub.NewHubWithNamespaceNameAndEnvironment` and first did not set any environment variables and the error response returned was almost immediate. Then I set the vars you mentioned in your first scenario and the result was the same. I received the error response again almost im

[2020-12-16 20:03] catalinaperalta commented on #181
Hi! Thanks for reaching out and sorry for the delay in getting to this. It seems this could come about for a few different reasons. One could be that the event hub has an epoch set and therefore cannot be used with non-epoch receivers, it should instead be used with a receiver with a higher epoch. The other problem could be that there are several receivers trying to attach to a consumer group, the

[2020-12-16 20:14] devigned commented on #181
This might be helpful:
https://github.com/Azure/azure-event-hubs-go/blob/2fcae0bd6b53327605d662cbde3a4dd1375b40b3/receiver.go#L117-L132

[2020-12-16 20:20] devigned commented on #181
Also, the EventProcessorHost is resilient to these kinds of error and will load balance consumers to maximize throughput. See https://github.com/Azure/azure-event-hubs-go#event-processor-host.

[2020-12-17 09:27] koalalorenzo commented on #181
This thing is so old that I am no longer using Azure, Closing

[2020-12-17 09:27] #181 closed

[2020-12-18 20:15] catalinaperalta commented on #170
Hi @nicolasGab! What version of the C# SDK are you using? I think with the new version even fixing the checkpointing location, there may still be some incompatibility: https://github.com/Azure/azure-sdk-for-net/blob/master/sdk/eventhub/Azure.Messaging.EventHubs/MigrationGuide.md#migrating-event-processor-checkpoints. Let me know what you think!

[2021-01-19 16:26] rwngallego commented on #80
@devigned We have experienced something like this while using `v3.3.0` in a production environment. Basically, after a transient network issue, the connection turned into a bad and unrecoverable state, and we had to restart the whole system in order to recover it. Somehow it impacted the two nodes we have. After looking into the code:

[code]

We have seen that `netErr.Temporary()` is not 100% acc

[2021-02-05 22:54] princjef opened #204 "Goroutine leak on receiver close"
### Expected Behavior

When calling `Close()` on a `*ListenerHandle`, all underlying goroutines associated exclusively with that listener should complete and be released.

### Actual Behavior

Sometimes, the `listenForMessages()` goroutine gets blocked on trying to send to `msgChan` and never terminates. This appears to happen because the goroutine reading the messages out of the channel has alrea

[2021-02-11 18:32] #204 closed

[2021-03-02 12:03] TonioOoOo commented on #170
Hi @catalinaperalta,
 @nicolasGab' merge request uses the same path as the C # `Azure.Messaging.EventHubs` with the  `Azure.Messaging.EventHubs.Processor.EventProcessorClient`. In the C# lib, the Blob checkpointer use EventHub namespace, name and the consumer group name with the partition. This path prevent same consumer group name on different event hub to erase infos. It's a first step.

You thi

[2021-03-02 12:13] devigned commented on #170
Do you intend on using the clients side by side on the same hub / consumer group, or is this simply to have the file structure look the same across implementations?

Is there a functional problem or is this more esthetic?

[2021-03-02 13:43] nicolasGab commented on #170
Hi @devigned, our goal is to have the same file structure for offsets across implementations that may be in C#, Golang, Java, etc. on many eventhubs (and usually a consumer group is used by only one app, so only one implementation).

We would like to have an "offset" container in our storage account, aggregating checkpoints for all consumers for each of our hubs. This would be especially useful fo

[2021-04-15 07:33] heli567 opened #206 "Quick Start only works when sending and receiving Events, but doesn't work when just receiving"
### Expected Behavior
The event hub handler should receive events with lastest offset from the EventHub.

### Actual Behavior
After adding the "eventhub.ReceiveWithLatestOffset()", the code read nothing back from Event Hub.

hub.Receive(ctx, partitionID, handler, eventhub.ReceiveWithLatestOffset(), eventhub.ReceiveWithConsumerGroup("$Default"))

(I tried to remove "eventhub.ReceiveWithLatestOffset

[2021-04-20 16:55] mayurid commented on #206
@jhendrixMSFT and @catalinaperalta : Could you please take a look

[2021-04-21 19:00] catalinaperalta commented on #206
Thanks for reaching out! Will look into this and update this issue with any findings I have.

[2021-04-22 21:38] catalinaperalta commented on #206
I've confirmed that there is a problem when attempting to receive with `eventhub.ReceiveWithLatestOffset()`. Looking into where the bug is.

[2021-04-23 01:02] catalinaperalta commented on #206
I believe I have good news on this issue. It seems that the Event Hubs service has had some performance improvements which pointed out an issue with our quick start.

When using `eventhub.ReceiveWithLatestOffset()`, this will create a new link that will only receive events after the time of the latest offset with which it is set up. So there was an unintentional dependency between the sending and

[2021-04-23 23:21] #206 closed

[2021-04-25 21:48] stefano-bossi opened #209 "the persister sometimes persists the offset @latest"
### Expected Behavior
I would expect the persister to always write latest processed offset, not the value "@latest"

### Actual Behavior
sometimes I see offset=@latest, sequenceNumber=0 and enqueue_time=0001-01-01 00:00:00.000000
Does this mean that after a restart it will restart from the end of the stream possibly loosing messages arrived meanwhile?
Is this an expected behaviour?If so can you po

[2021-04-26 07:51] stefano-bossi commented on #209
nevermind I left a default NewCheckpointFromEndOfStream on the Receive() when I added on the Hub configuration the persister.

[2021-04-26 07:51] #209 closed

[2021-04-27 12:32] stefano-bossi opened #210 "$Default consumer group used to retrieve the checkpoint regardless of the one set in the opts"
### Expected Behavior
If I set a consumer group on the Receive(), I expect it to be used to invoke the persister.

### Actual Behavior
Instead the persister, at the very first time it's invoked, it receives "@Default"

It seems a problem with the order in which the opts are applied to the receiver struct.

### Environment
Environment
OS: alpine:3.10.6
Go version: 1.16.2
Version of Library: v3.3.7

[2021-04-28 22:53] catalinaperalta commented on #210
Hi, thanks for reaching out! Will take a look at what's happening here.

[2021-05-06 14:35] stefano-bossi opened #212 "error on persister.Read is not propagated on the hub.Receive"
Expected Behavior
If the persister returns an error on the first Read call, I expect the error to be propagated out on the hub.Receive()

Actual Behavior
If the persister returns an error on the first Read(), the Checkpoint field on the receiver will be left on the default value. This will cause the next Write() call to overwrite the old persisted Checkpoint with that default value, causing the co

[2021-05-10 23:20] catalinaperalta commented on #212
Thanks for reaching out! Will investigate this.

[2021-05-14 20:23] #210 closed

[2021-05-19 16:20] elgatito opened #214 "EPH and network issues"
### Expected Behavior

Hello,

We are using pretty default eph functionality, waiting for  events, while context is a global context which ends with application close.
The problem is that after some time - application stops receiving events.
I can't see any way to get proper `error` from `eph` to know that we need to restart it, for example.

Code:
[code]

### Actual Behavior

With the flow of tim

[2021-05-19 23:05] #212 closed

[2021-05-20 06:34] elgatito commented on #214
This is interesting, looks like token has expired and leaser now fails requesting the blob:

[code]

[2021-05-20 18:58] catalinaperalta commented on #214
Hi! Thanks for reaching out. I'm taking a look at the information you provided and will get back to you on where the issue may be.
Adding @jhendrixMSFT who might have more information.

[2021-05-21 07:55] elgatito commented on #214
I have tested work with refresher with a long idle periods and it is working fine.

So this issue if a feature request to add retries to token getters/refreshers, and if possible, add some method to get EPH status if something happened inside, when starting as non-blocking.

[2021-05-28 22:24] catalinaperalta commented on #170
Closing this since the `WithPrefixInBlobPath` LeaserCheckpointerOption was added in #199. This should allow customization of blob paths.

[2021-05-28 22:24] #170 closed

[2021-06-14 11:23] daghemo commented on #163
I may be wrong, but you can do that for Java, thanks to https://github.com/Azure/azure-event-hubs-java/pull/362.
Having said that, I've the same problem as @Bixx and I need to use filebeat to access Azure Event Hub from behind a corporate HTTP(S) proxy.

[2021-06-28 15:58] jhendrixMSFT opened #215 "Connection leak when sender.Recover() is called across multiple goroutines"
In the recovery mechanism [here](https://github.com/Azure/azure-event-hubs-go/blob/717fe444f26da332e23657da0a9e5de441bb249f/sender.go#L172), the recreation of the session and link is not goroutine-safe and can lead to leaked connections.

[2021-06-28 16:08] jhendrixMSFT opened #216 "Retry mechanism is not configurable"
There is no way to configure the behavior of retries when sending a request; it will essentially retry until either the sending succeeds or the context is cancelled.
The cited problem with this approach is that callers are oblivious to scaling issues, i.e. their EH is too small for their workload and we keep swallowing "server busy" errors so they are unaware unless they manually look at metrics i

[2021-06-28 16:10] jhendrixMSFT opened #217 "Retries should reuse existing connection when possible"
The current retry mechanism calls `Recover()` to tear down and rebuild the EH connection which is inefficient.  For cases where the connection is fine (e.g. server busy, probably others), it would be preferable to reuse the existing connection.

[2021-06-30 01:03] jhendrixMSFT commented on #215
[code]

[2021-07-02 02:43] euchungmsft opened #220 "Requesting asynchronous mode in v3"
### Expected Behavior

Please consider to add a switch for sync/async mode in message transmissions with v3 just as v1 does

### Actual Behavior

With v3, it seems like it only works synchronously for message transmissions waiting for the acknowledgement from EH as message receipt. I believe this can be done asynchronously just as v1 does

### Environment
- OS: Ubuntu 16 but no dependency in OS-ve

[2021-07-02 15:04] jhendrixMSFT commented on #220
Per the comment [here](https://github.com/Azure/azure-event-hubs-go/pull/133#issuecomment-523171388), service bus and event hubs expect the sender to send messages as unsettled and the receiver to be in mode first.  While other, invalid, combinations might work, there is no guarantee as they will continue to do so in the future.  Seems unlikely that we can change this but will defer to @richardpar

[2021-07-02 20:29] richardpark-msft commented on #220
Just confirming that what @jhendrixMSFT mentions is the way that the other Event Hubs SDKs for JS and .Net do. If a caller wants to fire and forget they can simply store off and await the Task/Promise at a later time, or in bulk. So similar to what you have in Go.

[2021-07-05 02:11] nudbeach commented on #220
@richardpark-msft  'store off and await the Task/Promise at a later time' this is a big help for us to move on, thanks for your feedback

[2021-07-08 02:03] jhendrixMSFT commented on #217
Fixed in v3.3.10

[2021-07-08 02:03] #217 closed

[2021-07-08 02:03] jhendrixMSFT commented on #215
Fixed in v3.3.10

[2021-07-08 02:03] #215 closed

[2021-07-08 02:06] jhendrixMSFT commented on #220
Closing as using goroutines is how to make async work.

[2021-07-08 02:06] #220 closed

[2021-07-08 13:30] mplachter opened #221 "Getting Checkpoint Offset Information"
### Expected Behavior

Hi Team.

I'm wondering if there is a API like there is in Kafka API to pull out the current Offset values of all consumers in a consumer group for a given topic vs the Current offset on the given partition of the topic for that consumer.

Trying to see if there is a way to extract data that can be used to see if there is back pressure on a certain consumer in a consumer gro

[2021-07-08 14:36] devigned commented on #221
I don't think this API exists for EventHubs, but I know it's been asked for in the past. Currently, this repo offers something called the [Event Processor Host](https://github.com/Azure/azure-event-hubs-go#event-processor-host), which will balance consumers within a group and persist the checkpoints to Azure Storage. I think you could read those checkpoints to determine the current position of a c

[2021-07-08 14:55] mplachter commented on #221
Thanks David.

So it seems that EventHubs doesn't actually keep track of the Offsets per ConsumerGroup per Partition? It seems thats offloaded to some type of CheckPointer with the popular one being the Blob storage CheckPointer?

Interestingly enough when you use the sarama Client over the Kafka API for EventHubs the management of the Offsets using CheckPointers goes away and this seems to be off

[2021-07-08 15:15] devigned commented on #221
I'm 90% sure something exists for the Kafka API on EH since most clients wouldn't work without it. It's such a key feature for partitioned consumers. I'm not sure it's exposed for regular EventHubs, but I really wish it was. It would make building partitioned consumers so much easier.

Perhaps, someone from that team could comment. @jhendrixMSFT, do you know who the right person to pull in from EH

[2021-07-08 15:17] jhendrixMSFT commented on #221
Adding @richardpark-msft as he'll be working on EH in the future.

[2021-07-08 15:39] mplachter commented on #221
So the biggest thing is when i try to get a list of Groups back from the Broker (IE Azure Event Hub URI) it returns a nil map of Groups...

Which makes me thing that the Kafka API mapping back ConsumerGroups to EventHub is not mapped correctly.

[2021-07-08 16:00] mplachter commented on #221
Here is an example using Sarma

[code]

[2021-07-12 21:34] richardpark-msft opened #222 "Failing to specify an 'entityPath' in a connection string results in an unintuitive error"
If you specify a connection string that does not have an `EntityPath=<event hub name` key/value you get this error:

[code]

Which doesn't really tell you what you've done wrong. We can do a cursory check on the string to make sure that EntityPath is specified to avoid surfacing this error.

In other track 2 libraries we actually allow a second form where you can specify a broker-level connection

[2021-07-12 21:36] richardpark-msft commented on #222
(referenced in this StackOverflow question: https://stackoverflow.com/questions/68331725/eventhub-golang-client-error-amqpinternal-error/68354113#68354113)

[2021-07-12 21:47] devigned commented on #222
Definitely beneficial to fix that in the client, but would be more impactful to fix that in the service.

[2021-07-15 02:12] jhendrixMSFT opened #225 "Race in TestStorage/TestSingle"
Unclear if the test or impl is buggy.  Details below.

[code]

[2021-07-16 22:12] #216 closed

[2021-07-16 22:17] richardpark-msft commented on #216
Released as part of https://github.com/Azure/azure-event-hubs-go/releases/tag/v3.3.11

[2021-07-19 07:41] euchungmsft opened #227 "detecting ServerBusy error"
### Expected Behavior

'ServerBusy error' is one of the most important exception required to handle for publisher clients. Could you please guide me how to detect it from Error interface ? It would be better if there's exception definitions like .NET
https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-messaging-exceptions#serverbusyexception

For now, it seems like there's no other choice

[2021-07-19 09:36] ssuthar-uptycs opened #228 "Azure Storage Blob Go, has updated some functions parameters ( needs to be updated in Storage.go)"
Commit : `https://github.com/Azure/azure-storage-blob-go/commit/b336354e288251d71090c7dcf85491a585b46ed` changed some function calls

### Expected Behavior

// GetProperties returns the blob's properties.
func (b BlobURL) GetProperties(ctx context.Context, ac BlobAccessConditions, cpk ClientProvidedKeyOptions) (*BlobGetPropertiesResponse, error)

^ is the new function defination

### Actual Behavi

[2021-07-21 15:44] colmsnowplow opened #230 "NewHubWithNamespaceNameAndEnvironment hangs when expected env vars aren't provided"
### Expected Behavior

When no valid combination of env vars are provided, I expect this method to throw an error.

### Actual Behavior

When none of the env vars to authenticate (eg `EVENTHUB_KEY_NAME`, `EVENTHUB_KEY_VALUE`) are provided - or one is missing - the program will just hangs indefinitely.

Handling this is a bit of an inconvenience since there are quite a few possible combinations of

[2021-07-30 12:54] narph opened #231 "Update storage package dependency version to potentially avoid `BlobAlreadyExists` error"
We are using the EventProcessorHost implementation in order to collect events, in some cases, when restarting the process, we see:
[code]
the only solution is removing the blob storage and start the process again.

This could be related to the following issues, I am not able to find more on the potential fix:
https://github.com/MicrosoftDocs/azure-docs/issues/44973
https://github.com/Azure/azure-s

[2021-09-09 19:12] hholst80 opened #235 "Quickstart guide outdated"
I was unsuccessful in using VSCode together with the provided code.  The reason seems to be that the Golang module system changed in v1.16 and the Quick start was not updated to reflect this fact.

See https://github.com/golang/vscode-go/issues/1761

### Environment
- OS: Linux (docker.io/golang:1.16.7-buster)
- Go version: v1.16
- Version of Library: v3 (per the Quickstart guide in README.md)

[2021-09-09 19:16] hholst80 commented on #235
As far as I understood, the only thing additional needed is to run

`go mod init example/main`

and putting the example code in `main.go`.

[2021-09-13 19:24] elraikhm commented on #235
Thanks for pointing this out, team will look into updating!

[2021-09-22 13:44] philpearl commented on #122
I think I'm seeing the same problem. We have a hub with 2 partitions and about 1 day's backlog of data. I have a small test program that's trying to read out the entire backlog from the beginning. It reads a portion of the backlog data quite quickly, then slows to a crawl. I've never seen it read all the data

At the beginning the app reports the partitions as follows
[code]
I wait until the app s

[2021-09-22 14:05] philpearl commented on #122
If I update the program to use a file persister and restart the program once it has slowed to a crawl, then it reads quickly from the saved position when it restarts. Eventually it grinds to a halt again until I restart it.

[2021-09-27 12:53] philpearl commented on #122
My problem seems to be that I accidentally used an old version of the event hubs library - you really need to make sure you use the v3 version (at least), not the v1 version that's the default. Make sure you use `github.com/Azure/azure-event-hubs-go/v3` (or check if there's a later version)

[2021-09-28 07:54] Nighthawk22 commented on #231
I already opened an MR to do so: https://github.com/Azure/azure-event-hubs-go/pull/237 but I am not sure whom to ping :D

[2021-09-28 15:27] solarisfire commented on #235
Does the readme.md need updating?

The versions no longer seem to exist.

`solarisfire@ubuntu:~/test$ go get -u github.com/Azure/azure-event-hubs-go/v2
package github.com/Azure/azure-event-hubs-go/v2: cannot find package "github.com/Azure/azure-event-hubs-go/v2" in any of:
        /usr/lib/go-1.13/src/github.com/Azure/azure-event-hubs-go/v2 (from $GOROOT)
        /home/solarisfire/go/src/github.co

[2021-10-22 15:09] ChiefAlexander opened #240 "EventHub receiver.listenForMessage slows down significantly"
### Expected Behavior
Receive messages consistently

### Actual Behavior
After a few seconds of receiving messages, the latency increases drastically and doesn't come down

I have attached a screenshot from Jaeger showing the increase in function times from an average of ~40ms to an average of ~600ms after processing less than 200 messages from EventHub. This all happens within a few seconds of st

[2021-11-04 19:02] richardpark-msft commented on #231
Some updates:
1. I'm unable to reproduce this with the latest EventHubs - this is without doing the package update so I'm not able to nail down whether the submitted PR will fix it.
2. The updated dependency on azure-storage-blob appears to have an issue with certain credential types, which means our live tests for the package do not work properly.

The issues in 2) were enough that we'll have to

[2021-11-04 21:20] kwontae commented on #80
@rwngallego @devigned  We are also witnessing these errors.
`read tcp <internal ip>:34428-><eventhub ip>:5671: read: connection reset by peer,`

We are using
github.com/Azure/azure-amqp-common-go/v3 v3.0.0
github.com/Azure/azure-event-hubs-go/v3 v3.3.0
github.com/Azure/go-amqp v0.12.8 // indirect

This is the code we have that sends a batch of events to eventhub that we are testing and seeing this

[2021-11-07 00:45] smartpcr opened #241 "FilePersister with empty directory throws file not found error"
hub initialized with connectionString and filePersister

[code]

### Expected Behavior
should be able to create new file instead of throwing error

### Actual Behavior

when file doesn't exist, it returns `NewCheckpointFromStartOfStream(), err` but err is not nil, and caused receive to fail [here](https://github.com/Azure/azure-event-hubs-go/blob/master/persist/file.go#:~:text=f%2C%20err%20%3A%3D%

[2021-11-12 09:53] crablab commented on #113
👋   Came to this from #96. As far as I can see, this issue still exists 😞

Looks like this functionality isn't really being maintained or supported at the moment so we'll look at another way to do this.

[2021-11-23 08:22] dseapy opened #244 "Support for Azure Schema Registry"
Are there plans to add support for the new Schema Registry?

https://docs.microsoft.com/en-us/azure/event-hubs/schema-registry-overview#client-sdks

[2021-12-02 20:14] richardpark-msft commented on #244
We don't have a plan, currently, to add this support. I'll update here if that changes.

[2021-12-02 21:15] richardpark-msft commented on #240
Hi @ChiefAlexander,

I've written a stress program, which ran for 24 hours and not seen this issue so I think I'm missing some key component. Do you have a second to look at what I have to see if matches what you're doing? Or even better, if you can create a small sample that replicates the problem you're seeing I could start with that.

Some things that might be different:
- I'm only writing/read

[2021-12-02 21:20] richardpark-msft commented on #122
Closing this issue in favor of #240.

[2021-12-02 21:20] #122 closed

[2021-12-02 21:21] richardpark-msft commented on #227
Hi @euchungmsft,

Is your goal to check that it's a specific error or is it more just trying to figure out if you should retry? One thing that I'm working on is possibly adding a marker method, similar to this in azcore (https://github.com/Azure/azure-sdk-for-go/blob/dcc9108ed8db94db491f10a08535e0b27a1a3087/sdk/internal/errorinfo/errorinfo.go).

So then the process would be using `errors.As` to ch

[2021-12-03 02:21] richardpark-msft commented on #235
I know this issue is a bit old, but it would appear this was a temporary error as I'm able to pull the latest.

Go 1.17 on my local machine.

Are you still seeing this issue @solarisfire?

[2021-12-03 15:17] ChiefAlexander commented on #240
I will try to replicate what we are seeing with your stress program.

A few notes:
- We are reading from multiple partitions in some cases (4 partitions). I believe that when I was running the above tests it was only reading from a single of those partitions.
- We are using a checkpoint but not a lease. We have actually written our own persister that writes to Firestore. However, while testing we

[2021-12-23 03:37] euchungmsft commented on #227
Thanks @richardpark-msft . Let me test this soon and I'll get back to you if there's further issues

[2021-12-23 03:37] #227 closed

[2021-12-23 19:44] slamgundam commented on #240
can i ask where i can switch the connection option to websocket?

[2022-01-25 15:09] ksivamuthu commented on #167
Thanks.

[2022-01-25 15:09] #167 closed

[2022-01-26 09:26] favoretti opened #246 "Is there a way to enable some debug logging while sending event batches?"
When using `eventhub.SendBatch` method with an `EventBatchIterator` - is there a way to enable some sort of debug logging to let it report batch sizes it's sending, total messages sent and so on?

Thanks!

[2022-03-29 15:52] buicongtan1997 opened #250 "Panic index out of range when receiving message from eventhub"
I found this loc is not check len of `msg.Data` with causing `panic: runtime error: index out of range [0] with length 0` when receiving message from eventhub
https://github.com/Azure/azure-event-hubs-go/blob/73b7c0f7b25625f14c9a877ecb73230eba886107/event.go#L217

### Expected Behavior
It can run properly

### Actual Behavior
[code]

### Environment
- OS: alpine
- Go version: 1.16
- Version of Lib

[2022-03-29 20:36] ryepup commented on #214
I'm also interested in getting some health information from an eph to include in kubernetes health probes.

[2022-03-29 20:53] ryepup commented on #85
I also wanted to use `ReceiveFromTimestamp` with `eph`. I think I found a workaround with [NewStorageLeaserCheckpointer](https://pkg.go.dev/github.com/Azure/azure-event-hubs-go/v3/storage#NewStorageLeaserCheckpointer) and [WithInitialCheckpoint](https://pkg.go.dev/github.com/Azure/azure-event-hubs-go/v3@v3.3.17/storage#WithInitialCheckpoint):

[code]

[2022-03-30 19:20] ryepup commented on #85
After much debugging, here's a workaround that mostly works:

[code]

Then we use that when creating the eph:

[code]

This probably still breaks if you have more than one process and leases move back and forth.

[2022-04-19 12:57] agbankar commented on #163
@Bixx
how did you do that . in which version is kind of functionality available

[2022-04-21 18:44] richardpark-msft commented on #231
Looking at this more I think I see a gap where we could possibly overlap with creating blob storage.

So this 409 might be coming from there. The second issue that I need to investigate some more is _why_ it's recreating these blobs because (from what I can see in the information here) this is restarting an existing consumer. Which means they should already exist.

[2022-04-22 22:12] richardpark-msft opened #252 "LeaserCheckpointer can sometimes fail with "ContainerAlreadyExists""
`storage/LeaserCheckpointer` has a bug where it can sometimes fail with `ContainerAlreadyExists` if there are other instances of a `LeaserCheckpointer` running and the container itself has not already been created.

[2022-04-28 17:12] #225 closed

[2022-05-16 13:33] sgallizia opened #255 "Support for OpenTelemetry"
Are there any plans to add the support for OpenTelemetry?
Or is there the possibility in some way to use OpenTelemetry in the current version?

Thank You

[2022-05-20 20:40] burkconnor opened #256 "Sender interface definition of SendBatch does not match actual SendBatch implementation method header definition"
### Expected Behavior
The Sender interface should have the same method header definition for the SendBatch method as the implementation of the SendBatch method.

interface definition: SendBatch(ctx context.Context, iterator BatchIterator, opts ...BatchOption) error
implementation definition: SendBatch(ctx context.Context, iterator BatchIterator, opts ...BatchOption) error

### Actual Behavior
inte

[2022-05-27 09:11] sandeep-sks opened #258 "Any plan to update jwt-go v3.2.0 to a version that has fix for CVE-2020-26160"
Is there a plan to move away from jwt-go v3.2.0 dependency which has this vulnerability CVE-2020-26160
(CVE-2020-26160)
### Expected Behavior
Patched version of dependencies or get rid of vulnerable dependencies that are not being maintained

### Actual Behavior
A vulnerable version of dependency ( jwt-go v3.2.0)

[2022-06-17 01:26] setharnold opened #260 "Unusual 777 directory mode in NewFilePersister in file.go"
https://github.com/Azure/azure-event-hubs-go/blob/15b4b52d1a10fe04eefcd452b6483880a4267b08/persist/file.go#L44

[code]

Hello, mode `0777` is very rarely used; this is a very unusual directory mode, almost always a mistake.

`01777` can be useful for directories like `/tmp` or `/dev/shm`; I don't off-hand see a usecase for `0777`, though.

Is this a mistake? Should the sticky bit be set? Should th

[2022-06-23 00:03] richardpark-msft commented on #260
You mention `/tmp` and `/dev/shm`, so I imagine you're on a Linux/Unix system for this. In practice, the `umask` (defaults to 022) will scope the permissions more. So the MkdirAll() function above will end up creating a folder with `drwxr-xr-x`. It's still a little more broad than it'd have to be, but given there's no confidential data in a checkpoint store this will probably be okay for developme

[2022-06-23 00:03] #260 closed

[2022-06-23 00:17] richardpark-msft commented on #246
There isn't anything like this currently.

You can wrap the normal EventBatchIterator since it's really the interface that's used for the `SendBatch()` function and just log tracing or diagnostics.

[code]

So implementing a wrapper function with two functions and then pass your wrapper, rather than EventBatchIterator, into SendBatch().

Closing but please reopen  if you have further questions.

[2022-06-23 00:17] #246 closed

[2022-06-23 00:18] richardpark-msft commented on #235
Closing as there's been no activity on this.

[2022-06-23 00:18] #235 closed

[2022-06-30 02:05] setharnold commented on #260
Sorry for my slow reply. it's been busy.

I don't know the full context of how this function is used -- if this function is used a few times and we know the `umask` is set safely in each, then yeah, we can just leave this here.

If this function is called from enough places that it is difficult to inspect them all for a correct `umask`, then it might be nice to pick safer defaults here.

(I don't

[2022-07-05 17:38] richardpark-msft commented on #260
Just to be clear, the umask isn't optional - we don't apply it, it's just part of the system overall. So behavior should be consistent whereever os.MkdirAll is called (which is a standard library package).

[2022-07-07 01:50] setharnold commented on #260
The trick is, some applications set umask to `0000` because that's what W. Richard Stevens said to do in `daemonize()`. Some applications leave it alone entirely, leaving it up to the admin to pick something. Systemd unit files default to `0022` (a nice, safe, choice), but sysvinit scripts just take whatever the admin's shell was using when the admin runs `/etc/init.d/whatever restart`. [Gnome ter

[2022-07-25 18:46] richardpark-msft opened #261 "Using a newer version of azblob causes a compile error"
We're using an older version of azblob (v0.6.0) but this can limit clients attempting to upgrade to newer versions of azblob.

azblob isn't GA yet, which means interface breaking changes are still possible, even if we do upgrade. The current compile error with 0.15.0 (latest as of this writing). It looks like it's just a simple expansion of arguments:

[code]

We're discussing solutions, but filin

[2022-07-25 22:40] richardpark-msft commented on #261
## Attempt 1 - vendor a copy of azblob v0.6.0

This would decouple us from any changes to the azblob package, allowing us to use the unchanging subset of features from Azure Storage.

Unfortunately, this doesn't work. The problem is that the Event Hubs package exports a `Credential` interface that embeds `azblob.Credential` from the azblob package. That interface requires a private marker method:

[2022-07-26 22:03] microsoft-github-policy-service[bot] opened #265 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-07-26 22:39] richardpark-msft commented on #261
Ah! I didn't go far enough - @jhendrixMSFT solved this by creating a pipeline from the new package, and passing that to the older package which works beautifully.

[2022-08-01 14:52] atoulme commented on #255
I started working on a receiver with this library at https://github.com/open-telemetry/opentelemetry-collector-contrib/issues/12786

[2022-08-01 14:55] atoulme opened #271 "Support for mock hub"
### Expected Behavior
When testing with this library, I want to mock the hub object so I can test its behavior.

### Actual Behavior
The Hub object is not easily mockable. There is no interface for it, and the fields are not public, so one cannot instantiate a hub outside of the constructor functions.

See https://github.com/open-telemetry/opentelemetry-collector-contrib/pull/12795 for context.

[2022-08-16 17:27] richardpark-msft commented on #255
@sgallizia, we rely on [github.com/devigned/tab](https://github.com/devigned/tab) for our tracing support in Event Hubs. Looks like they're only supporting opencensus and opentracing at the moment.

[2022-08-16 17:27] #255 closed

[2022-08-24 09:07] jackjameshoward commented on #241
@smartpcr Did you find a solution to this issue?
Or how did you go about creating the file if it doesn't exist?

[2022-09-15 10:06] MartinKosicky opened #273 "Eventhub stops getting data when under load"
When we run eventhub go listener after some time we get stuck on https://github.com/Azure/azure-event-hubs-go/blob/master/receiver.go#L291 . It seems that the session get's broken, however I know that the connection is OK because I watched it in wireshark and when I call GetPartitionInfo (it uses the same connection so the socket is not dead)  I see that I am not at the end of the partition.

I wo

[2022-09-15 10:27] MartinKosicky commented on #273
I just change that line to:

		newContext, _ := context.WithTimeout(ctx, 30 * time.Second)
		msg, err := r.listenForMessage(newContext)    (this would trigger a Recover on the session if no data arrives in 30 seconds)

[2022-09-15 18:49] MartinKosicky commented on #273
I totally agree to fix the core issue here, although I'm afraid about the reselience here. I can reproduce this by running a read from the start of an eventhub with prefetch 2000. After a while (few minutes max) the reading stops, and we have logic that checks after 30 secs if I am at the end of partition (over same connection). And when i'm not we let the microservice crash and get restarted, fro

[2022-09-22 10:05] MartinKosicky opened #274 "Sending data to a specific partitionId"
Hello I have a question, because I don't understand here how am I supposed to send events on a specific partition (via partition ID not partitionKey). I want to make a fan out of some event and I dont understand how am I supposed to do it with the API. I know I can make a Hub instance for every partition but making 16 connections seems a little strange.

C# has this feature https://learn.microsoft

[2022-09-22 10:26] MartinKosicky commented on #274
Note:
I'll try this:
[code]

[2022-09-22 17:13] richardpark-msft commented on #274
Hi @MartinKosicky, sending to a partition is something you configure at the link level (i,e when you create the hub). You can use the `HubWithPartitionedSender` function when creating your eventhub.

[code]

[2022-09-22 17:45] MartinKosicky commented on #274
Yes that is why i said it is insane to make a new connection just to send sometimes to the partition. I dont get why its not possible on the session level. I guess ill use the rest api for this.

[2022-09-22 18:34] richardpark-msft commented on #274
Sorry about that, I totally missed that sentence.

The design of this particular package really does emphasize using partition keys and isn't built around swapping between links for different senders. So it has the exact problem you mentioned.

Rather than using the REST API, if you're willing to try out our new beta library, is to use our new beta package: `github.com/Azure/azure-sdk-for-go/sdk/m

[2022-09-22 18:34] richardpark-msft commented on #274
(leaving open in case you have any other questions)

[2022-10-21 17:39] #261 closed

[2022-10-26 15:12] BICKELC opened #276 "Event Processor Host does not start consuming messages"
After upgrading azure-event-hubs-go to 3.3.19, it does not start consuming messages anymore on using the Event Processor Host.
The following code (based on the example in [Readme](https://github.com/Azure/azure-event-hubs-go#event-processor-host) ):
[code]

On letting this code run the first time, there is no issue. But as soon as the entries in objectstorage already exist (at the second run), thi

[2022-10-26 17:54] richardpark-msft commented on #276
Hi @BICKELC, I'll take a look. We did a recent change in 3.3.19 where we made it possible to use newer versions of the azblob dependency.

Do you know which version you're referencing in your go.mod?

[2022-10-27 07:27] BICKELC commented on #276
Hi @richardpark-msft,
thanks a lot for the fast reply.
The azblob-dependency of the example above had the version `github.com/Azure/azure-storage-blob-go v0.15.0`.

Regarding my analysis the error comes from here: https://github.com/Azure/azure-event-hubs-go/blob/adc9788f66c015a26eebdc5c961efcf0b6d90cfc/eph/eph.go#L414

While I was analysing the issue, I also switched back the versions in go.mod f

[2022-11-07 20:49] richardpark-msft commented on #276
I'm adding in a test now, but I think we're missing handling "409 conflict" as a valid return status. It's an area I'm not super familiar with, so bear with me. :)

[2022-11-08 23:47] #276 closed

[2022-11-09 11:15] BICKELC commented on #276
Thanks a lot for fixing this issue :)

[2022-11-10 00:30] richardpark-msft commented on #276
Just tagged an official release as well: https://github.com/Azure/azure-event-hubs-go/releases/tag/v3.3.20

Thank you for reporting the issue, it really helps us out.

[2022-11-28 20:52] #265 closed

[2022-11-30 12:55] sariburak opened #279 "Comment needs to be updated"
https://github.com/Azure/azure-event-hubs-go/blob/8a7b58b74b045dd49fb295fbb5584f5524e045e2/receiver.go#L146

I believe this comment here is no longer valid since `ReceiverOptions` are clearly applied earlier than fetching the persisted checkpoint.